[2014-05-07 11:07] nsoranzo opened #48 "Prinseq bowtie2 dep in tool_dependencies.xml"
Presently ```prinseq/tool_dependencies.xml``` downloads and installs bowtie2 v2.1.0, which may be provided instead by devteam's ```package_bowtie2_2_1_0``` in the Tool Shed.
This just came to my eyes while looking at this file, I've not tested the possible change.

[2014-07-09 15:22] vin6 opened #62 "opt_validate error on command line"
Got this error trying to implement MACS2 callpeak...this doesn't happen with MACS1.4:

Traceback (most recent call last):
  File "/local/cluster/bin/macs2", line 362, in <module>
    main()
  File "/local/cluster/bin/macs2", line 45, in main
    run( args )
  File "/local/cluster/lib/python2.7/site-packages/MACS2/callpeak.py", line 55, in run
    options = opt_validate( args )
  File "/local/clust

[2014-07-12 07:52] bgruening opened #63 "sailfish"
The sailfish wrapper is work in progress.
- loc file handling
- data manager
- check parameter
- add unit-test

Moreover it will be replaced by Salmon, some github repository.

xref: https://github.com/bgruening/galaxytools/tree/master/tools/sailfish

[2014-08-14 08:34] bgruening opened #71 "Augustus 3.0 is out"
Wrapper update needed: http://bioinf.uni-greifswald.de/augustus/binaries/

[2015-01-09 21:26] bgruening opened #73 "Improve documentation for our tools"
We can do a lot better in structuring and writing documentations for our tools:

 * [ ] bismark wrapper

[2015-01-09 21:29] bgruening opened #74 "Add tools tests"
Tracking bug report for missing tools test.

 * [ ] suspenders
 * [ ] blockbuster
 * [ ] diffbind
 * [ ] ChemicalToolBox

[2015-01-09 21:29] bgruening opened #75 "HOMER tool suite"
We should finish up the HOMER tool suite.

[2015-01-09 21:30] bgruening opened #76 "infernal tool suite is not complete"
We have a few nice infernal wrappers but a few tools are still missing.

[2015-01-09 21:32] bgruening opened #77 "Improve the unix tools"
Unix tools is now known as text-processing tools. We need to add some tests and add missing tools.

* [ ] tool tests
* [ ] missing tools ?

[2015-01-12 22:00] bgruening opened #80 "Add rna_eps datatype to our RNA tools"
@TorHou we now have `rna_eps` as datatype in galaxy-central.
https://bitbucket.org/galaxy/galaxy-central/commits/dd67f14145f75cbbe9ab3e73d40088a669139f07

Would be great to use it in all our RNA tools.

[2015-01-13 15:10] bgruening opened #81 "aragorn wrapper update"
@erasche a thought a little bit more about it and I think we should remove the FASTA output completely and offer a tool which extracts the correct sequences from the input fasta + the gff file. So what we need is one wrapper that extracts sequences from a FASTA file given a corresponding gff/gtf/BED file.

[2015-01-13 15:58] erasche commented on #81
Okay @bgruening, I'll see what I can do about it.

[2015-01-13 16:06] bgruening commented on #81
This was not to poke you just to remind myself :) But thanks!

[2015-01-17 12:31] bgruening commented on #62
@vin6 is this still a problem? We have improved the wrappers quite a lot.
I will close this, but please feel free to reopen if there is still a problem.

[2015-01-17 12:31] #62 closed

[2015-02-03 23:10] bgruening opened #85 "Replace *_SCRIPT_PATH with $__tool_directory__"
Use the new ``$__tool_directory__`` feature and replace the old `SCRIPT_PATH` variables.

https://bitbucket.org/galaxy/galaxy-central/commits/ddbe0d12bc86da406bb96213e23b8ddb273ed669#comment-1610704

 * [x] augustus
 * [x] bismark
 * [x] crt
 * [x] deseq2
 * [x] diffbind
 * [x] glimmer_w_icm
 * [x] convert_graph
 * [x] interproscan
 * [x] MiClip
 * [x] minced
 * [x] prinseq
 * [x] inforna
 * [x] t

[2015-02-05 07:41] bgruening commented on #80
This should be fixed in https://github.com/bgruening/galaxytools/commit/ffd46e6af7a995220d4f1fbe1f953af1be7c714e.

[2015-02-05 07:41] #80 closed

[2015-02-22 18:20] bgruening opened #90 "AntiSmash needs glimmerhmm dependency"
Add gimmerhmm as dependency to AntiSmash. glimmerhmm is used if the sequence is not annotated and this can happen if there is no gene on a small contig. AS will try to execute glimmerhmm and crashes.

[2015-02-22 18:25] bgruening opened #91 "restructure repository"
`galaxytools` should be restructured to look and feel like the tools-iuc and tools-devteam repository.

To reflect the different areas of tools and to keep the links stable I will have different `tools` directories.

 * rna-tools
 * chemicaltoolbox

Remove useless script from the root and improve the readme file.

[2015-02-28 19:04] bgruening commented on #91
I decided to put everything under tools, besides chemicaltoolbox. I need to preserve this link a little bit longer and this is really a special thing.

Any other comments or ideas?

[2015-02-28 19:06] erasche commented on #91
add a .shed.yml and I'll add a jenkins job for it (if you'd like)

[2015-02-28 19:08] bgruening commented on #91
Awesome! You need a .shed.yml file for every tool correct? This can take a little bit, I'm not sure which tools are located under which account ;)

[2015-02-28 19:09] erasche commented on #91
Ah...yes. :/ Anything you want tested that is. That's just the easiest way to determine what is and isn't testable (rather than using a hardcoded `tools/` path)

[2015-02-28 19:11] bgruening commented on #91
Totally agree. Thanks a bunch, but I need to figure out which tool I put under bgruening, IUC and so on. I will get back to you! :)

[2015-02-28 19:12] erasche commented on #91
Okay, sounds great!

[2015-03-28 12:53] bgruening opened #96 "gff/gtf to sqlite wrapper"
The idea is to collect as many annotations as possible and put then into a data store, like sqlite. Answering questions and querying should be separate tools on-top of this storage. Pretty much like [gemini](https://github.com/arq5x/gemini).

This library seems to be well maintained: https://github.com/daler/gffutils

[2015-04-11 09:25] bgruening opened #98 "Shippable as alternative to jenkins and travis?"
This seems to be like a nice alternative to get galaxy in docker preinstalled and test tools with planemo.
Since we have the information from `tool_dependencies.xml` we could even install packages from the TS before testing tools.

https://www.shippable.com/

@erasche I would appreciate your opinion as expert in this field!

[2015-04-11 14:11] erasche commented on #98
Ooh, always love a new CI competitor. (Btw, we can use docker in Jenkins, I just haven't gone to the trouble of configuring it.) I'll read up on shippable a little :)

Oh, how do you envision this hapoening? Shed2tap or similar?

[2015-04-11 15:15] bgruening commented on #98
Eric;

no concrete plan, but I could imagine something like this:

* we already have a TS Docker image
* now we import all IUC, devteam repositories (build this image every 2 days)
* import the tool/package into our TS Docker image
* spin up Galaxy and install repository
* use planemo to test the tool

[2015-04-11 15:49] erasche commented on #98
(Sorry for rambling, I just woke up...)

Not a bad plan at all! Having not dug into shippable very much I'm still thinking in terms of Jenkins....

- IUC+devteam sounds good, we can call it "ToolShed Core" or something, and build that image (locally?) as part of the PR testing phase for both repos (I plan to add jenkins testing for tools-devteam)

I've thought about it a bit, and I don't think thi

[2015-04-11 16:46] bgruening commented on #98
Yeah, on the other side I would like to use such services integrated in github. Is there a free Jenkins hosting service, like travis?

I don't think we need to rebuild the image for every PR. We don't change our packages so frequently and most of them should be included. So this can be pre-calculated every few days from docker-hub.

[2015-04-11 16:54] erasche commented on #98
Sure, using services "properly" integrated into github would be nice...but I'm not aware of a hosted Jenkins solution, or really what benefit we'd get out of it over the VM I've dedicated for IUC use.

If we can get the TS/docker/planemo installing tools bits working, then I'll turn off "unstable" builds and builds will produce a hard failure if even one test fails. I'd like to see new tool PRs bu

[2015-04-11 17:02] bgruening commented on #98
I have just a bad conscience to use your money for this. It's not just IUC, it's devteam, galaxytools and probably galaxyp-tools. Do you really think there will be a delay for 2 days, I don't think so. But importing all IUC/devteam repos on demand will also work, if the delay turns out to be a problem.

[2015-04-11 17:57] erasche commented on #98
Nah, don't worry. I've been happy with Digital ocean so far, and I use that VM for a couple of personal purposes as well. If someone ever gets around to setting this up elsewhere (i.e. research funded), I'm happy to move it then.

Well, here's an example:

- Imagine that the PR is perfect the first time around and requires follow up commits.
- the first set of tests will fail as the associated pac

[2015-04-15 07:10] erxleben commented on #90
AntiSmash3 is out and needs to be updated.

[2015-04-16 13:47] #85 closed

[2015-04-21 10:27] bgruening commented on #96
Try with the following program:
 * [ ] antismash
 * [ ] augustus
 * [ ] glimmer
 * [ ] iprscan5
 * [ ] minced
 * [ ] RepeatMasker

[2015-04-22 07:58] bgruening opened #102 "Integrate tbl2asn into Galaxy"

[2015-04-22 09:54] erasche commented on #102
+1

[2015-04-22 10:45] nsoranzo commented on #102
A problem we've had with tbl2asn for [Prokka wrapper](https://bitbucket.org/crs4/orione-tools/src/HEAD/custom/prokka/) is that the binary is versioned internally, but the file is just overwritten on the FTP without changing its name. Moreover, GenBank often increases the minimum version required, so it needs to be frequently updated.

[2015-04-22 10:47] bgruening commented on #102
@nsoranzo yes this is always a problem, but for our pipeline we need this. Btw. I have worked some time ago on your missing perl libraries for prokka. Are you interested in using them (if there are working?)

[2015-04-22 13:01] nsoranzo commented on #102
@bgruening I'm not working on Prokka at the moment, it's in the hand of CRS4 people. You may try to do a pull request, but they are not using tool_dependencies.xml to install tools (and I'm not either).

[2015-04-22 14:39] erasche commented on #102
I have an idea for storing versioned copies of tbl2asn, I'll make sure we
have copies available. @bgruening do you have wrappers written for it
already?

ons. 22. apr. 2015, 08.01 skrev Nicola Soranzo <notifications@github.com>:

[2015-04-22 14:47] bgruening commented on #102
Not yet, but storing versioned copies is not the problem I guess. The NCBI only accepts sequin (or similar) files that are processed with a recent version. For example they ship some kind of word-blastlist in this binary to check for spelling mistakes or wrong annotated genomes/proteins.

[2015-04-22 14:50] erasche commented on #102
yep, that's a problem for people updating their galaxy :)
(and us having automated package updates when new versions of tbl2asn come out)

[2015-04-22 16:16] erasche commented on #102
@bgruening https://github.com/galaxyproject/docker-build/blob/v2/tbl2asn/default/build.yml versioned tbl2asn packages here. Once @natefoo gets docker-build running jobs on cron we'll just run this weekly/monthly, and I'll add a job to generate automated PRs against the tbl2asn package in Galaxy, and then that coupled with the automated TTS pushes mean...no stress for us! :)

(Hey, @natefoo, do you

[2015-04-24 11:43] bgruening commented on #102
@erasche, @nsoranzo the question is do we need this? This tools is only useful in the most recent version, it is a deadend tool, isn't it? We always need the latest version (?) Does it make sense to enable reproducibility for this tool by versioning binaries?

If we need this why not coping `tbl2asn` builds from ncbi every month/release to depot?

[2015-04-24 12:47] nsoranzo commented on #102
You don't always need to have the latest version, but they get deprecated very fast. And when they are, you really have to update.

[2015-04-24 14:05] erasche commented on #102
@bgruening no we probably don't need versioned copies since old ones are useless. However, I feel like a (completely, 100% automated) updating of the version in the TS is preferrable to the tool, on every run, checking if the binary is older than N days and if so fetching the latest.

[2015-04-24 16:08] bgruening commented on #102
@erasche agreed, but are you talking about a with every new binary? I would go with `package_tbl2asn_latest` or something like this. This has the advantage to not update the tool-version with every release.

[2015-04-24 16:13] erasche commented on #102
Yeah, I was talking about a `_latest` that would get updated. not registering a new `package_tbl2asn_$date` as that'd just be clutter. Would that work for you?

[2015-04-24 16:42] nsoranzo commented on #102
:+1: for `package_tbl2asn_latest`

[2015-04-24 16:45] erasche commented on #102
Great, I'll make sure the IUC's jenkins bot can open PRs and set it up to trigger a "tbl2asn definition" update job whenever docker-build creates a new tbl2asn version.

[2015-04-27 17:15] natefoo commented on #102
@erasche Works for me. Public key is at https://github.com/natefoo.keys

[2015-04-27 22:16] erasche commented on #102
@natefoo mind testing that you can login/pull data? You should be able to ssh in as `natefoo@gx.hx42.org` and you'll find jenkins will publish all produced files to the `data/` directory in your home folder (`/opt/depot/data/`).

I'll set up jenkins/docker to build + place more binaries in there and ensure that they're versioned.

[2015-05-07 18:10] sjackman opened #115 "aragorn_out_to_gff3.py: Handle introns"
Does [aragorn_out_to_gff3.py](https://github.com/bgruening/galaxytools/blob/master/tools/rna_tools/trna_prediction/aragorn_out_to_gff3.py) handle introns? It doesn't appear to after scanning the code. Feature request? Here's an example of a few tRNA with introns.

[code]

[2015-05-07 18:11] erasche commented on #115
@sjackman it sure doesn't! I'd never seen results like that, but I only work with small viruses. How should this be marked up in the GFF3?

[2015-05-07 18:12] erasche commented on #115
Also, I don't suppose you could link me to a fasta sequence which would produce the data with introns, so I can test?

[2015-05-07 18:13] sjackman commented on #115
Dang, you're fast. I'll get you some data.

[2015-05-07 18:40] sjackman commented on #115
Here you go. Thanks! https://gist.github.com/sjackman/31cd4e17347ff1af488c

[2015-05-07 18:52] erasche commented on #115
@sjackman (never had comments on gists, I'm assuming it emails you, but in case it doesn't...)

[2015-05-07 19:09] sjackman commented on #115
No, I didn't get a notification from the gist. That seems like a GitHub issue/bug.

[2015-05-07 19:10] sjackman commented on #115
Sorry, I meant to post the shell command and forget.

[code]

[2015-05-07 19:17] erasche commented on #115
brilliant, cheres. I'll ping you when I have a fix in place

[2015-05-07 19:21] sjackman commented on #115
I'll mention that I've only ever seen a single intron. I have no idea whether ARAGORN could possibly output multiple introns. Thanks, Eric!

[2015-05-07 19:22] erasche commented on #115
Good to know. Having never worked with anything other than bacteriophages, I appreciate the insight.

[2015-05-07 19:59] erasche commented on #115
@sjackman not sure how familiar you are with the internals/maker/etc, but in the gff3 file you posted I'm having a bit of trouble rationalising a couple of the feature locations:

[code]

becomes:

[code]

In the first, the location is modified, +1 on the left hand, and -3 on the right. In the second, the location is untouched. Given that the tRNA runs the full length of the feature, and that the

[2015-05-07 21:35] sjackman commented on #115
Hi, Eric. Very sorry. I should have mentioned that the GFF is generated not *de novo* but by aligning known-good tRNA sequences to the reference by MAKER using Exonerate. So, the coordinates of the *de novo* ARAGORN features and the MAKER/Exonerate features may not agree exactly.

[2015-05-07 21:47] erasche commented on #115
@sjackman no worries, not a problem. That explains the differences!

[2015-05-07 22:18] bgruening commented on #115
Seems that I missed a lot! Thanks @erasche for fixing this.

[2015-05-07 22:22] #115 closed

[2015-05-12 16:11] bgruening opened #119 "Make use of the new `argument` parameter for Galaxy params."
Add argument to tool parameters. See here: https://github.com/galaxyproject/galaxy/pull/8

[2015-06-08 10:04] bgruening opened #132 "Getting biopython tools into the TS"
@peterjc @erasche (because your are both heavily involved in genome annotation).
We are running a genome annotation workshop in the end of this month here and I would like to include our biopython tools from: https://github.com/bgruening/galaxytools/tree/master/tools/biopython into the TS before. I started this many years back but never put them into the TS.

I'm planning to add
 - [ ] tests
 - [

[2015-06-08 12:09] TorHou opened #133 "Compalignp (personal test issue for trello migration)"
[compalignp](http://www.biophys.uni-duesseldorf.de/bralibase/compalignp.tgz)

Tool for comparison of alignments

[2015-06-08 14:11] erasche commented on #132
- Unless you're test-data then I'd say it's a logical separate for single repositories with perhaps a `suite` linking them. If they're
- https://github.com/bgruening/galaxytools/blob/master/tools/biopython/codon_count.py#L26 might want to switch to english errors ;)
- Are most of these tools not already part of emboss? I feel like I've seen a translate, a reverse+comp, various GC distribution tool

[2015-06-08 14:11] erasche commented on #132
@jmchilton we're still hoping to get biopython as a dependency in Galaxy, yes?

[2015-06-08 14:17] bgruening commented on #132
@erasche translate and reverse+comp probably, I need to look it up. But all the converters (which aren't real Galaxy converter, because of multiple inputs) are not included and I need them :)

[2015-06-08 15:49] #133 closed

[2015-06-08 16:15] peterjc commented on #132
For now there are Biopython packages in the Tool Shed which this can point at.

[2015-06-08 16:16] peterjc commented on #132
If would also favour separate TS repositories with suite entry to make getting the whole set easier.

[2015-06-08 17:02] jmchilton commented on #132
@erasche absolutely would still like to make biopython available for datatypes. In general though tools should not rely on Galaxy eggs for dependencies - so the tool shed package for biopython is still the way to go here I think.

[2015-06-08 17:03] erasche commented on #132
@jmchilton ok! (This ping was more for the converters since there are a couple dozen in that directory)

[2015-06-08 20:21] smithcr commented on #63
from the trello board:
--
Would be nice to have a sailfish wrapper in Galaxy.

Start is here:
https://github.com/bgruening/galaxytools/tree/master/sailfish
--

[2015-06-08 20:24] smithcr opened #135 "SAMblaster"
samblaster is a fast and flexible program for marking duplicates in read-id grouped1 paired-end SAM files. It can also optionally output discordant read pairs and/or split read mappings to separate SAM files, and/or unmapped/clipped reads to a separate FASTQ file. When marking duplicates, samblaster will require approximately 20MB of memory per 1M read pairs.

https://github.com/GregoryFaust/sambl

[2015-06-08 20:25] smithcr opened #136 "Lighter"
https://github.com/mourisl/Lighter

[2015-06-08 20:30] smithcr opened #137 "RNACode"
http://wash.github.io/rnacode/

[2015-06-08 20:31] smithcr opened #138 "GotohScan"
The GotohScan program is a search tool that finds shorter sequences
(usually genes) in large database sequences (chromosomes, genomes, ..)
by computing all semi-global alignments. Thus, the query sequence is
never truncated or split into subsequences, but always mapped to the
database over its complete length. The alignment is computed via the
Gotoh-alignment algorithm using affine gap costs.

htt

[2015-06-08 20:31] smithcr opened #139 "MAFFT"
http://mafft.cbrc.jp/alignment/software/

MAFFT is a multiple sequence alignment program for unix-like operating systems. It offers a range of multiple alignment methods, L-INS-i (accurate; for alignment of <∼200 sequences), FFT-NS-2 (fast; for alignment of <∼30,000 sequences), etc.

This exists already -> https://toolshed.g2.bx.psu.edu/view/basfplant/mafft/e4d26cd8be10, but will need to be confor

[2015-06-09 10:12] nsoranzo commented on #139
There's also https://bitbucket.org/crs4/orione-tools/src/HEAD/custom/mafft/

[2015-06-09 10:50] bgruening commented on #139
@nsoranzo nice to now. It's not in the TS. Any plans? I guess the missing `tool_dependency.xml` is blocking?

[2015-06-09 11:58] nsoranzo commented on #139
`tool_dependency.xml` was blocking indeed, now I'm not using it at the new workplace.

[2015-06-09 12:41] bgruening commented on #71
This was fixed in: 521f682db4b200035a85b00e9dc1c99865386754

[2015-06-09 12:41] #71 closed

[2015-06-09 12:52] bgruening commented on #48
I updated the readme to indicate that I'm not working on this anymore.

[2015-06-09 12:52] #48 closed

[2015-06-09 16:17] bgruening opened #142 "Brain Cell Finder"
Brain cell finder is a tool for fully automated localization of soma in 3D mouse brain images acquired by confocal light sheet microscopy.

https://github.com/paolo-f/bcfind

Started here:
https://github.com/bgruening/galaxytools/blob/master/tools/image_processing/bcfind/bcfind.xml

[2015-06-10 11:46] smithcr opened #143 "PileOMeth"
Process a coordinate-sorted and indexed BAM or CRAM file containing some form of BS-seq alignments and extract per-base methylation metrics from them

https://github.com/dpryan79/PileOMeth

[2015-06-10 11:47] smithcr opened #144 "ProteinOrtho"
https://www.bioinf.uni-leipzig.de/Software/proteinortho/

Needs to be integrated. + We have a VIS for this http://www.vicbioinformatics.com/software.fripan.shtml

[2015-06-10 11:53] smithcr opened #145 "mOTUs"
Metagenomic species profiling using universal phylogenetic marker genes.

http://www.bork.embl.de/software/mOTU/download.html

[2015-06-11 11:34] smithcr opened #149 "NONCODE"
NONCODE is a database of all kinds of noncoding RNAs (except tRNAs and rRNAs)

http://www.noncode.org/download.php

[2015-06-11 11:42] smithcr opened #150 "FLASh and PEAR"
PEAR - http://www.exelixis-lab.org/pear
FLASh - http://ccb.jhu.edu/software/FLASH/

preferring PEAR?

@bgruening You mentioned you started wrappers for PEAR...

[2015-06-11 11:45] bgruening commented on #150
PEAR is done: https://github.com/galaxyproject/tools-iuc/tree/master/tools/pear
I think we can close this. Thanks for cleaning up the Trello board!

[2015-06-11 11:45] #150 closed

[2015-06-11 12:07] smithcr opened #151 "PLINK2"
whole genome association analysis toolset
https://www.cog-genomics.org/plink2

[2015-06-11 12:35] nsoranzo commented on #151
A wrapper for PLINK 1.07 is available at https://bitbucket.org/crs4/orione-tools/src/HEAD/custom/plink/ .

[2015-06-11 12:41] bgruening commented on #151
@nsoranzo thanks this is very good to know. It's not in the MTS, can you give us a contact we can poke :)

[2015-06-19 13:34] smithcr opened #161 "lncPro"
Predicting the interaction between long noncoding RNAs and proteins. By coding RNA and protein sequences into vectors, we use matrix multiplication to give score to each RNA-protein pair. This score can be the measurement of interactions between the RNA-protein pair.

http://bioinfo.bjmu.edu.cn/lncpro/
Requested by Gregor Klaus via mail.

[2015-06-23 14:20] bgruening opened #169 "piranha - CLIP- and RIP-Seq peak caller"
http://smithlabresearch.org/software/piranha/

We need this for your RNA workshop in one month.

[2015-06-26 13:08] smithcr opened #171 "RNACode - output columns"
The documentation of the tool specifies 10 output columns. 11 are actually produced, columns 2 & 3 should be combined

[2015-06-27 13:35] smithcr commented on #171
discussion -> update the documentation for 11 columns

[2015-06-27 13:37] smithcr commented on #171
@erxleben ping :)

[2015-06-28 22:28] bgruening opened #172 "Chromatin state discovery and characterization"
Seqway: https://www.pmgenomics.ca/hoffmanlab/proj/segway/
https://bitbucket.org/hoffmanlab/segway/overview

(ChromHMM: http://compbio.mit.edu/ChromHMM/)

[2015-06-29 09:50] SebastianHoernstein opened #173 "microRNA prediction Tool"
Would be happy if that tool could be integrated :-)

http://omictools.com/targetfinder-s7192.html

[2015-06-29 11:11] yhoogstrate commented on #173
This looks like an interesting piece of software, indeed. I was browsing the code and when I read the COPYRIGHT file, it says:

[code]

I am not sure if such license allows (re-)distribution via a toolshed because of the scentence ``` Please do NOT distribute this code or information.```.

[2015-07-10 22:31] bgruening commented on #139
@smithcr can we close this? https://toolshed.g2.bx.psu.edu/view/rnateam/mafft

[2015-07-10 22:32] bgruening commented on #138
@smithcr can we close this?
xref: https://toolshed.g2.bx.psu.edu/view/rnateam/gotohscan/6845ddcd5588

[2015-07-10 22:32] bgruening commented on #137
Can we close this @smithcr? xref: https://toolshed.g2.bx.psu.edu/view/rnateam/rnacode/2c51e264432a

[2015-07-14 09:44] #139 closed

[2015-07-14 09:44] #138 closed

[2015-07-14 09:51] #137 closed

[2015-07-16 12:37] bgruening opened #183 "Integrate ChemDoodle Web Components into ChemicalToolBox"
http://www.jcheminf.com/content/7/1/35

[2015-07-17 11:28] smithcr opened #184 "GREAT - predicts functions of cis-regulatory regions"
http://bejerano.stanford.edu/great/public/html/
Many coding genes are well annotated with their biological functions. Non-coding regions typically lack such annotation. GREAT assigns biological meaning to a set of non-coding genomic regions by analyzing the annotations of the nearby genes. Thus, it is particularly useful in studying cis functions of sets of non-coding genomic regions

[2015-07-17 14:01] blankenberg commented on #184
For both a source of getting data into Galaxy and as a destination for sending data from Galaxy?

[2015-07-17 14:28] bgruening commented on #184
@blankenberg yes ... this was the plan. But starting with a data source plugin.

[2015-07-17 14:31] blankenberg commented on #184
Cool, let me know if you need help.

FWIW, UCSC table browser is able to export to GREAT, so there is probably some sort of mechanism in place on their end that can be co-opted/used for sending genomic regions there.

[2015-07-23 09:46] erxleben opened #187 "sortmeRNA missing arguments"
* [ ]     -L  length of the sliding window (the seed) (default: 18)

[2015-07-24 08:45] bgruening opened #188 "mafft - user defined options"
Requested by Hans-Rudolf:
  http://mafft.cbrc.jp/alignment/software/adjustdirection.html

[2015-07-29 10:12] nsoranzo opened #191 "SortMeRNA wrapper not on the MTS"
Any plan on publishing https://github.com/bgruening/galaxytools/tree/master/tools/rna_tools/sortmerna on the main Tool Shed? A user of my Galaxy server asked for it.

I can help if something is missing from the wrapper.

[2015-07-29 10:34] bgruening commented on #191
I'm not aware of any problem with it. Indeed we are using it here in Freiburg. It can be that I only included a subset of options, but it is definitely working. If you have time, please run the tests. I'm happy to move it to the MTS.

Thanks @nsoranzo

[2015-07-29 16:27] smithcr opened #193 "RNAz - wrapper needs updating"
wrapper for [RNAz](https://github.com/bgruening/galaxytools/tree/master/tools/rna_tools/rnaz) needs fixing

- Score [which] strand should be param type *select*:
  - forward
  - reverse
  - both
- use (di/mono)nucleotide shuffled z-scores should be select.
- mononucleotide shuffled z-scores may also be broken in source...not sure yet. When used on my set (~100) of (diverse) sequence alignments, al

[2015-07-29 16:39] bgruening commented on #193
Have you check the latest wrapper? https://github.com/bgruening/galaxytools/blob/master/tools/rna_tools/rnaz/rnaz.xml Documentation should be improved and citations as well.

[2015-07-29 20:20] nsoranzo commented on #191
Testing with planemo fails because the test specify a cached database which is obviously not installed.

[2015-07-29 21:13] bgruening commented on #191
This sounds like a good reason why I stopped testing. I think at this time it was not able to test cached databases. Imho this should be possible now.

[2015-07-30 00:12] nsoranzo commented on #191
Maybe it would be easier to just add a small FASTA rRNA database in test-data/. This would also test the database indexing.

[2015-07-30 05:08] mictadlo opened #195 "KeyError: u'package_libpng_1_6_7"
Hi, I tried to install ChemicalToolBoX with the following command:

python /galaxy/galaxy/scripts/api/install_tool_shed_repositories.py -a f21d1b0c92056ca4217af86a06319ed6 -l http://localhost:8080 --url http://toolshed.g2.bx.psu.edu/ -o bgruening --name chemicaltoolbox --tool-deps --repository-deps --panel-section-name ChemicalToolBoX

but I recieved the following error:

HTTP Error 500: Internal

[2015-07-30 06:06] bgruening commented on #195
Hi @mictadlo,

which Galaxy version are you using? We saw that a few times but it is not really reproducible. You can workaround this by installing CTB in small chunks. For example installing `package_libpng_1_6_7` before you install CTB.

Thanks for trying CTB!
Bjoern

ping @gregvonkuster (maybe you have a better idea?)

[2015-07-30 07:18] mictadlo commented on #195
hi @bgruening,
Thank you for your response. I use the following Galaxy version:
commit 7144ed8f72994473606d2943f9a4f35a6b4eb739
Merge: f6b894a 8f175ef
Author: Dannon Baker <dannon.baker@gmail.com>
Date:   Fri Jul 24 10:37:18 2015 -0400
    Merge branch 'release_15.05'

Mic

[2015-07-30 21:06] nsoranzo commented on #187
This is an option of buildtrie, used to create the database indexes.

[2015-07-30 22:07] nsoranzo commented on #191
Any idea how to create a small rRNA database which would still match the test query sequence?

[2015-07-31 07:57] bgruening commented on #191
I think we can use this script and a subset of one of these databases? https://github.com/biocore/sortmerna/tree/master/rRNA_databases/scripts

[2015-08-01 11:21] bgruening commented on #195
This is pretty recent, can you please try to install libpng at first and rerun the CTB installation?

[2015-08-01 11:23] bgruening commented on #169
Fixed with https://github.com/bgruening/galaxytools/pull/186

[2015-08-01 11:23] #169 closed

[2015-08-01 11:26] bgruening commented on #91
We have added a lot of `.shed.yml` files and will do in the next weeks. @erxleben is working on this. I think the repository is in a pretty good shape now and improving, will close this now. Thanks @erasche

[2015-08-01 11:26] #91 closed

[2015-08-01 17:00] bgruening opened #199 "ID mapping tools based on the UniProt Service"
Based on https://github.com/jdrudolph/uniprot/blob/master/uniprot.py and http://www.uniprot.org/help/programmatic_access.

The mapping tools is requested by Anika.

[2015-08-02 20:37] bgruening commented on #98
An other possibility seems to be circleci: https://circleci.com/docs/docker
This could be used to test galaxy-stable, but with a bit of magic also uploading/installing and testing of tools (based on galaxy-stable).

[2015-08-02 20:53] erasche commented on #98
Yeah, that is another alternative. Getting the "magic" figured out is the *only* hard part. There are plenty of free options for us once we get there :)

[2015-08-02 20:55] bgruening commented on #98
I'm thinking about activating the TS inside of Galaxy Docker ... with this in place it should be doable.

[2015-08-02 20:57] erasche commented on #98
I was using smithcr's TS image to handle this, hadn't figured out the steps to:

- find all package dependencies that are not in the current repository
- mirror those dependencies from the MTS
- upload all packages (shed_serve doesn't seem to do quite that)
- the run shed tests.

[2015-08-02 20:59] bgruening commented on #98
First one seems to be the hard one, on the other hand all packages should be owned by IUC ;) ...

[2015-08-02 21:03] erasche commented on #98
Oh what a nice world that would be :P

[2015-08-03 10:55] nsoranzo commented on #191
I've asked @ekopylova if she can help us with the test data, can you upload the wrapper on the Tool Shed in the mean time?

[2015-08-03 12:22] bgruening commented on #191
It's now on MTS as well and the IUC have commit access :)
Thanks Nicola!

[2015-08-03 12:33] ekopylova commented on #191
Hello! I've sent a small example to @nsoranzo and the test data will be available via a link to the readme page shortly. Thanks @bgruening and @nsoranzo!

[2015-08-03 12:36] bgruening commented on #191
Wonderful! Thanks @ekopylova

[2015-08-03 23:00] nsoranzo commented on #191
Thanks @bgruening!

[2015-08-03 23:00] #191 closed

[2015-08-11 12:13] gregvonkuster opened #209 "Enhance the imagej2_analyse_skeleton tool"
Uncomment and use the show_detailed_info option when the underlying plug-in includes the "Display labeled skeletons" feature.  This feature should be available in the enhanced plug-in included in the next Fiji release.  See http://fiji.sc/AnalyzeSkeleton.  The imagej2_analyze_skeleton wrapper will need to be enhanced to produce an addition output image that displays the labeled skeletons so that t

[2015-08-13 11:44] AGoepfert commented on #144
Im working on this

[2015-08-13 11:46] AGoepfert opened #210 "Quast"
I'm wirting a tool wrapper fot this

http://bioinf.spbau.ru/quast

[2015-08-18 08:31] AGoepfert commented on #143
Im working on this

[2015-08-18 08:31] AGoepfert commented on #135
Im working on this

[2015-08-18 08:43] AGoepfert opened #215 "image"
Based on http://sourceforge.net/projects/image2/

IMAGE stands for Iterative Mapping and Assembly for Gap Elimination. It is a software designed to close gaps in any draft assembly using Illumina paired end reads.

[2015-08-18 08:44] AGoepfert opened #216 "Barrnap"
Based on https://github.com/tseemann/barrnap

Barrnap predicts the location of ribosomal RNA genes in genomes. It supports bacteria (5S,23S,16S), archaea (5S,5.8S,23S,16S), mitochondria (12S,16S) and eukaryotes (5S,5.8S,28S,18S).

I am working on it< tool wrapper, dependencies, etc.

[2015-08-18 08:55] bgruening commented on #216
@AGoepfert barnap is already in Galaxy.

[2015-08-18 08:55] #216 closed

[2015-08-21 20:24] bgruening opened #218 "PAINS filter for CTB"
http://rdkit.blogspot.de/2015/08/curating-pains-filters.html

[2015-08-24 12:23] TorHou commented on #143
@AGoepfert Wait ... Tiffany was working on this as well. Have you started with this already?

[2015-08-24 12:26] AGoepfert commented on #143
Yes - I am almost done with it! What is Tiffanys status?

[2015-08-24 12:35] TorHou commented on #143
Almost done .. as far as I know. She wanted to send me an update some time ago. So I'm not completely sure on the status.
Anyway, finish it and I will tell Tiffany to work on something else and I will merge your wrappers into the ultimate comprehensive super-wrapper.

[2015-08-24 13:16] AGoepfert commented on #143
ok cool - thanks

[2015-08-26 18:23] smithcr opened #222 "DotKnot"
DotKnot is a heuristic method for pseudoknot prediction in a given RNA sequence.

DotKnot extracts stem regions from the secondary structure probability dot plot calculated by RNAfold. Recursive H-type pseudoknots and intramolecular kissing hairpins are constructed and their presence in the sequence is verified.

http://dotknot.csse.uwa.edu.au/

[2015-09-02 12:01] smithcr opened #229 "BamHash"
https://github.com/DecodeGenetics/BamHash
Hash BAM and FASTQ files to verify data integrity

For each pair of reads in a BAM or FASTQ file we compute a hash value composed of the readname, whether it is first or last in pair, sequence and quality value. All the hash values are summed up so the result is independent of the ordering within the files. The result can be compared to verify that the pai

[2015-09-09 15:39] AGoepfert commented on #135
Done

[2015-09-09 15:39] AGoepfert commented on #143
Done

[2015-09-09 15:39] AGoepfert commented on #144
done

[2015-09-09 15:40] AGoepfert commented on #210
done

[2015-09-09 15:40] #210 closed

[2015-09-09 15:47] AGoepfert commented on #199
I have a look on that one

[2015-09-09 16:02] erasche commented on #199
Oooh, yes! I had a PI asking after something like this just yesterday.

[2015-09-09 16:45] bgruening commented on #195
@mictadlo this should be fixed in the latest version. I have still a few patches pending for the chemicaltoolbox, but this bug should be fixed.
Would be nice if you can confirm it.

[2015-09-14 08:00] AGoepfert commented on #222
I am working on that tool

[2015-09-15 08:08] AGoepfert commented on #199
You can find the first version here:
https://github.com/bgruening/galaxytools/tree/master/tools/rna_tools/uniprot

[2015-09-15 12:23] AGoepfert commented on #229
I am working on that tool

[2015-09-17 16:52] AGoepfert commented on #229
done

[2015-09-17 16:52] AGoepfert commented on #222
done

[2015-09-17 16:52] AGoepfert commented on #145
I am working on that one

[2015-09-17 16:55] bgruening commented on #229
Thanks!

[2015-09-17 16:55] #229 closed

[2015-09-18 10:18] #222 closed

[2015-09-21 01:31] mictadlo commented on #195
@bgruening thank you the error has disappear.

[2015-09-21 01:31] #195 closed

[2015-09-21 02:16] mictadlo opened #247 "ChemicalToolBoX does not show in the Galaxy Tool Box"
Hello,
I tried to install CTB in the following way:

[code]

The installation was successfully, but ChemicalToolBoX does not show up in the Galaxy Tool Box:

[code]

What did I do wrong?

Thank you in advance.

Mic

[2015-09-21 11:42] gregvonkuster commented on #142
@bgruening The installation instructions for https://github.com/paolo-f/bcfind install the head of the git repo.  For the tool_dependencies.xml recipe, should I use a "git clone..." followed by a "git checkout..." as the mechanism for providing a specific feature set for reproducibility?  This would be similar to what is being done for the freebase package recipe and others.  If so, should I just

[2015-09-21 11:55] nsoranzo commented on #142
@gregvonkuster I use `git reset --hard <commit_hash>` after the `git clone` .

[2015-09-21 11:57] gregvonkuster commented on #142
@nsoranzo Thanks, I'll go that route and use the current repo head as the commit hash.

[2015-09-21 13:32] gregvonkuster commented on #142
@bgruening @nsoranzo This package is going to require a fairly complex installation recipe with many dependencies (e.g., PIL, tables, pandas, scikit-learn, progressbar-latest, numpy, scipy, mahotas, ujson) all installed into a version of Continuum Analytic Anaconda Python (http://continuum.io/downloads).

My understanding of how package dependencies like this work may be flawed, so I'm hoping you

[2015-09-21 17:11] bgruening commented on #142
@gregvonkuster @nsoranzo you don't need to use git to get a specific commit from github. Curl/wget works for every revision.

For example this one for the last revision: https://github.com/paolo-f/bcfind/archive/ed3ea2c29d22652996fe27ae509625c52b5b77c2.tar.gz.

[2015-09-21 17:20] bgruening commented on #142
@gregvonkuster regarding your python installation question, this is actually a topic I'm currently work on.
Please have a look at the deeptools package this should help you a lot without conda: https://github.com/galaxyproject/tools-iuc/pull/277

Please let me know if this fixes your problem.

[2015-09-21 18:42] bgruening commented on #247
This is wrong but not the root of the problem. I will have a look at it.
Have you seen this image already? https://github.com/bgruening/docker-recipes/blob/master/galaxy-chemicaltoolbox/Dockerfile

[2015-09-26 22:38] bgruening commented on #199
@erasche you can find a version in the TTS: https://testtoolshed.g2.bx.psu.edu/view/bgruening/uniprot_id_mapping/
Let me know what you think. The tests are too strict, they will break for sure as soon as they update a few ID.

[2015-10-11 07:38] bgruening commented on #199
It's now in the TS and on FR-Galaxy. Thanks @AGoepfert!

[2015-10-11 07:38] #199 closed

[2015-10-13 10:35] bgruening opened #255 "include SecretomeP into Galaxy"
http://www.cbs.dtu.dk/services/SecretomeP/

[2015-10-13 11:11] Stortebecker commented on #173
I agree that miRNA binding prediction would be a nice functionality. There are tons of free (or, I think so) software that could be integrated. Maybe to start with:

http://www.targetscan.org/
http://www.microrna.org/

[2015-10-13 11:16] Stortebecker opened #256 "include .txt and other formats in the "uniprot" tool"
The uniprot tool is able to access .gff and .fasta files from uniprot. It would be nice, if one could also access the other data formats, which contain partly different information (like the .txt). A wrapper for different types of queries would also be nice (though I do not need it right now). Information on uniprot query syntax is here: http://www.uniprot.org/help/programmatic_access

[2015-10-13 12:33] bgruening commented on #173
@al2na is this something your lab would be interested to work on? PicTar etc ..?

[2015-10-14 08:25] al2na commented on #173
we have targetScan and pictar in dorina, users can access the targets for multiple species. microRNA.org is quite old but we can also include them to Dorina and serve it via there

[2015-10-14 08:37] bgruening commented on #173
@al2na yeah this is great. But do you think we should offer both tools as standalone predictions tools as well?

@SebastianHoernstein @Stortebecker Would dorina be enough for your use cases? Dorina is already integrated in FR-Galaxy.

[2015-10-14 08:57] SebastianHoernstein commented on #173
hi,

I have no experience with dorina. I have used TargetFinder
directly on the commandline and also integrated predictions
of psRNAtarget (web application). Both are among several
tested (Srivastava et al., 2014 BMC Genomics 348, also my
experience when tested against other tools) the best
performing tools in every category. Thus, I can only
recommend TargetFinder. I´m not sure if this was helpfu

[2015-10-14 09:00] al2na commented on #173
I will put it on the to do list, i looked at targetFinder doesn't seem to be complicated to integrate.

[2015-10-14 09:38] bgruening commented on #173
@al2na awesome thanks!
@SebastianHoernstein @erxleben is taking care of your problem :)

[2015-10-14 18:30] gregvonkuster commented on #142
@bgruening I've got the installation recipes with all dependencies basically done for bcfind.  I noticed that your current tool outline at https://github.com/bgruening/galaxytools/blob/master/tools/image_processing/bcfind/bcfind.xml has set the bcfind dependency version to 1.3.18 via your requirement tag.

<requirement type="package" version="1.3.18">bcfind</requirement>

Is this the version you w

[2015-10-14 18:41] bgruening commented on #142
This was a old version, we can/should update the version :)
Thanks!

[2015-10-14 18:45] gregvonkuster commented on #142
@bgruening ok, just to confirm, should it be "ed3ea2c29d"?  Thanks!

[2015-10-14 18:54] bgruening commented on #142
I think this is ok!

[2015-10-15 14:02] gregvonkuster commented on #142
@bgruening Need some insight on the tool(s) you are looking for here.  The bcfind manual at http://bcfind.dinfo.unifi.it/guide.html sort of implies a suite of tools as:

bcfind_make_substacks
bcfind_cell_finder
bcfind_measure_performance
bcfind_supervised_semantic_deconvolution
bcfind_merge_markers
bcfind_manifold_filter

Can you let me know if this baseline tool set is what you are looking for?

[2015-10-16 08:26] bgruening commented on #142
I have forwarded you a mail from the author, with more informations.
Here you can find an example of producing dataset collections:
https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/split_file_on_column/split_file_on_column.xml
Also inside of the planemo documentation is a really good tutorial:
https://planemo.readthedocs.org/en/latest/writing_advanced.html#collections

An

[2015-10-16 18:42] #256 closed

[2015-11-06 09:39] bgruening commented on #142
A new version was released a few days back: https://github.com/paolo-f/bcfind/releases

[2015-11-06 11:23] gregvonkuster commented on #142
Thanks Bjorn,

I’ll keep this on my list, but it will be a while.  I’m currently buried with Galaxy consulting for 1 lab and I have an additional lab I’ll be supporting starting next week.  I’ll take a look at this as soon as I get a chance though.

Thanks Bjorn!

Greg

[2015-11-18 19:58] erasche opened #268 "Use of /home/galaxy in some wrappers."
At one point I just cloned your repo into my tools directory because I was lazy and hate installing things from the toolshed. I recently moved galaxy to a different directory and during cleanup noticed a number of tools with `/home/galaxy` hardcoded

- https://github.com/bgruening/galaxytools/blob/master/tools/miclip/MiClip_wrapper.sh
- https://github.com/bgruening/galaxytools/blob/master/tools/an

[2015-11-19 22:13] bgruening opened #269 "ViennaRNA tools needs some love"
(also bag_ you might rework the viennaRNA tools eventually. I always find "--noSomething; No somethings" and then a yes/no option horribly confusing. Rewording it can make it a bit clearer, e.g. "Allow Somethings? Y/N"

[2015-11-27 09:09] bebatut opened #271 "No installation of diamond for MacOSX"
Hello,

Diamond installation from ToolShed fails in MacOSX.

It seems that installation in `tool_dependencies.xml` of the required `packages_diamond_0_6_13` is limited to installation on linux.
Following the [compilation instructions](https://github.com/bbuchfink/diamond/blob/master/README.rst#compiling-from-source) of Diamond, I suggest to change the `tool_dependencies.xml` of `packages_diamond_0

[2015-11-27 12:31] bgruening commented on #271
@bebatut as you see I have no access to an OS-X so I really appreciate your testing. This change looks good to me, but we would need to include the source of version 6.9. Do you have a link to this older version.

I will try to work on an updated version during the Metagenomic Codefest: https://github.com/galaxyproject/tools-iuc/issues/299
Do you have time to join and help me with this?

[2015-11-27 14:12] bebatut commented on #271
I did not check the version and take the current one.
The current wrapper was for version 6.9? If so, I have to check installation on MacOS. But I don't have a link to sources for 6.9 and I can't find it. Do you have one?

@bgruening I will join the codefest with the french community event organized by @yvanlebras. I will be pleased to help you with diamond

[2015-11-27 14:49] bebatut opened #272 "SortMeRNA wrapper"
Hello,

I tried SortMeRNA with ToolShed wrapper. But, it does not take into account all parameters I need (seed length for `indexdb_rna` for example).

I developed a [new wrapper](https://github.com/ASaiM/galaxytools/tree/master/tools/sortmerna), currently available on test Tool Shed.
@bgruening Are you interesting to merge your wrapper with mine?

[2015-11-27 14:58] bgruening commented on #272
@bebatut sure! Can you create a PR against this repo?
Moreover, we try to build an `rnateam` similar to IUC but RNA centric and I would love to invite you to this group if you are interested in RNA research.

[2015-11-27 14:58] nsoranzo commented on #272
As a contributor to bgruening's wrapper, :+1: to merge the wrappers here!

[2015-11-27 14:59] bgruening commented on #271
I already had troubles to make this 6.9 version sustainable. So I guess an upgrade makes much sense.
Looking forward to work with you on this!

[2015-11-28 12:56] bebatut commented on #272
I'm working on the PR :)

@bgruening I will be pleased to join the group

[2015-12-01 13:53] bebatut opened #274 "PRINSEQ wrapper"
Hi,

I thought there were no ToolShed repository with wrapper for PRINSEQ. So I developed a new one.
But, I just see yours.
We could merge my repository with yours or I could also propose it to tools-iuc. What do you think?

[2015-12-01 13:56] bgruening commented on #274
I'm fine with both. If you go for IUC we should deprecate this one here.
Thanks!

[2015-12-01 21:35] bgruening opened #275 "Add multigeneblast to Galaxy"
Requested by Sebastian O.

http://multigeneblast.sourceforge.net/installation.html

[2015-12-02 05:09] erasche commented on #275
:+1:

[2015-12-08 12:29] bebatut opened #277 "reago wrapper"
Hi,

Are you interested by a wrapper for [reago](https://github.com/chengyuan/reago-1.1), an assembly tool for 16S ribosomal RNA recovery from metagenomic data?
I started the wrapper but I can integrate it in your `rna_tools` if you are interested.

[2015-12-08 15:35] #272 closed

[2015-12-08 15:39] nsoranzo commented on #187
Fixed in #273.

[2015-12-08 15:39] #187 closed

[2015-12-09 07:16] bgruening commented on #277
Didn't know about this tool. Looks interesting and like a nice addition. Please feel free to add :)

[2015-12-09 07:51] bebatut commented on #277
I will add it :)

[2015-12-14 15:12] bebatut opened #280 "Installation for SortMeRNA on ubuntu"
Hi,

On ubuntu, I have an error for installation of SortMeRNA:

[code]

I made some inquiries (search for non ascii code in the files, try to install sortmerna manually, ...). But I did not find why I have this error.
Do you have any suggestion?
Thanks

Bérénice

[2015-12-14 15:50] nsoranzo commented on #280
You should specify the client encoding of your Galaxy DB to be UTF-8 in `config/galaxy.ini` , e.g. `postgresql://galaxy:encoded_password@localhost/galaxy?client_encoding=utf8`

[2015-12-14 15:50] #280 closed

[2015-12-16 10:26] #277 closed

[2015-12-21 22:51] martenson opened #284 "sailfish issues"
note this tool is now on Main
https://usegalaxy.org/root?tool_id=toolshed.g2.bx.psu.edu/repos/bgruening/sailfish/sailfish/0.7.6.0

 * the picture included in toolform help is too wide (2000px) and will render badly on most displays
 * the shed.yml seems to expect to be in the iuc repository but it isn't thus the link in the MTS repo to dev repo is broken

[2015-12-21 23:15] #284 closed

[2015-12-21 23:16] bgruening commented on #284
Is 600px better?

[2015-12-21 23:23] martenson commented on #284
@bgruening way better, thanks

[2015-12-22 22:37] bgruening commented on #143
This is done. Wrapper can be found here: https://github.com/bgruening/galaxytools/blob/master/tools/pileometh/PileOMeth.xml

[2015-12-22 22:37] #143 closed

[2016-01-20 00:04] tnabtaf opened #289 "Cut tool: ability to rearrange and duplicate columns?"
Hi Björn,

I just came across the new cut on test and I have already used the abilities of the new version.  However, I can't figure out how to rearrange columns with the new tool.  I do this a lot in my basic tutorial, rearranging 8 columns into 6 with

  c1,c2,c3,c4,c8,c6

I also can't see if there is a way to duplicate a column.  (I haven't needed to do that though.)

Apologies if I'm just miss

[2016-01-20 05:22] blankenberg commented on #289
Not Björn, but this uses GNU cut underneath, which does not allow rearrangement or duplication of columns. A more 'honest' representation of 'cut', I suppose. Definitely not as useful as Galaxy's 'cut' tool (a perl script) for many bioinformatics needs though (not that the perl script is perfect).

[2016-01-20 07:17] bgruening commented on #289
@tnabtaf first of all thanks for feedback!
Dan is correct here, we are using plain unix tools here. Besides the inability for `cat` to do the rearrangement there is a problem of the new column selector. I discussed this with @guerler already month ago and I forgot what the outcome was. But as it stands the new column selector do not save the ordering and also don't allow to select 1 column twice.

[2016-01-20 14:36] oxyko opened #290 "Add addfragments and seed features to mafft wrapper"
Latest mafft has a new feature that is useful when aliging smaller fragments to a reference: --addfragments, --seed and more, as described in the tips for Mafft v.7: http://mafft.cbrc.jp/alignment/software/tips0.html

Please add these features to the mafft wrapper.

[2016-01-20 15:11] bgruening commented on #290
Thanks @oxyko! We will try to add this as soon as possible. Maybe we can motivate @hrhotz for this as well, I know he is using it :)

[2016-01-21 07:34] hrhotz commented on #290
Hi @oxyko
well, "--addfragments" and "--seed" look very interesting indeed, but this requires a major re-write of the tool, I guess. Altough, the input format for the already aligned sequences is also fasta, how do you distinguish, between them? i.e. making sure, when using the "--addfragments" or the "--seed" option, one of the input files is really an existing alignment?
I will put it on my list

[2016-02-08 08:48] bgruening opened #297 "CIRCexplorer"
https://github.com/YangLab/CIRCexplorer

Small Python script, 'ref.txt' can be downloaded by the user manually (no tool integration needed), complexity: easy.

[2016-02-18 15:33] bgruening opened #298 "UniProt Visualisation"
As @erasche pointed out this would be nice to have in Galaxy.

JS experts needed! :)

http://www.uniprot.org/uniprot/P05067#showFeaturesViewer

[2016-03-01 13:14] bgruening commented on #173
@SebastianHoernstein we have now [miranda](http://cbio.mskcc.org/microrna_data/manual.html) on our server. Maybe this is interesting for you.

@al2na any update on the targetFinder front?

[2016-03-01 14:43] nsoranzo commented on #173
@bgruening Are you using https://toolshed.g2.bx.psu.edu/view/tgac/miranda/ ?

Also, I'm working on a TargetScan wrapper for Galaxy, if you are interested.

[2016-03-01 14:44] bgruening commented on #173
Yes, exactly this tools :)
TargetScan and PicTar would be nice indeed!

[2016-03-06 20:40] bgruening opened #307 "add kobas integration"
KOBAS 2.0 is an update of KOBAS (KEGG Orthology Based Annotation System). It can identify statistically significantly enriched pathways, human diseases, and functional terms for an input set of genes using biological knowledge from well-known pathway databases, disease databases, and Gene Ontology.

http://kobas.cbi.pku.edu.cn

[2016-03-29 14:57] bgruening opened #318 "cpyMSpec - Routines for computing theoretical isotope patterns of small molecules."
https://github.com/alexandrovteam/cpyMSpec

[2016-04-12 13:54] martenson opened #331 "can we somehow capture and show trimgalore's errors?"
original shared history
https://usegalaxy.org/u/bradlanghorst/h/custom-adapter-trimming

there was an error fetching fastqs and the inputs contained only HTML so trim galore failed, however it provided this useless message:
[code]

[2016-04-12 14:27] bgruening commented on #331
Not sure how I can improve this. I don't remove any output. Maybe it is written to the repooort?
https://github.com/bgruening/galaxytools/blob/master/tools/trim_galore/trim_galore.xml#L253

[2016-04-12 14:27] bgruening commented on #331
ping @bwlang

[2016-04-12 14:29] bwlang commented on #331
not sure if warnings will cause any other trouble... seems to be ok in my local instance.

[2016-04-12 14:30] bwlang commented on #331
now with invalid input i see:
[code]

[2016-04-12 14:32] nsoranzo commented on #331
@bgruening report will be filled only if trim_galore succeeds, as `<command>` is written now.

[2016-04-12 14:43] bgruening commented on #331
@nsoranzo this is what I'm saying maybe we can improve this. But the `supress_warn` options can also be a way to solve this.
@bwlang not sure why this is failing now :(

[2016-04-12 14:46] bgruening commented on #331
@bwlang my best guess is that without supress_warn trim_galore returns an error code != 0. So we might want to use `<stdio>` here.

[2016-04-12 16:21] bwlang commented on #331
stdio block rescues a couple of tests... the rest have changed output.
any preference on whether to change the expected output to match what's generated with warnings on vs. a modification to the tests to be more flexible (e.g. re_match?)

[2016-04-12 18:49] bgruening commented on #331
re_match :)
Thanks @bwlang!

[2016-04-16 21:16] remimarenco commented on #96
In a near future, I will be trying gffutils with:

- augustus
- glimmer
- RepeatMasker

I will update this issue throughout my testing :)

[2016-04-16 21:37] bgruening commented on #96
@remimarenco in https://github.com/bgruening/galaxytools/pull/276 are already initial gffutils wrappers. Feel free to improve them!

[2016-04-20 15:58] wrf opened #334 "major output problem with extract augustus features"
the main loop adds the first protein or coding sequence line twice, where the first 78 letters are duplicated for every protein.
this occurs because the protein sequence is building after any line with `protein sequence = [`, which includes:
`protein_seq = line`
and then a few lines later within the same loop, still processing the same text line:
`if protein_seq:`...

this can be fixed by moving t

[2016-04-24 21:06] bgruening commented on #334
@wrf thanks for the error report. I have created a PR, but I need to fix the test-data. Maybe you can look over it.

I don't understand why this is not happening in our instance (or the test-data), but your description looks valid. Need to look at this more deeply.

Thanks again!

[2016-04-28 20:37] bgruening commented on #215
WONTFIX, too old and not maintained anymore as far as I can see.

[2016-04-28 20:38] #215 closed

[2016-04-28 22:37] bgruening commented on #136
Start here: https://github.com/bgruening/galaxytools/pull/263

[2016-04-29 06:35] #135 closed

[2016-05-06 15:42] TorHou opened #338 "need barcode_collapse.py from eCLIP pipeline"
barcode_collapse is used in the [eCLIP pipeline](https://www.encodeproject.org/documents/dde0b669-0909-4f8b-946d-3cb9f35a6c52/@@download/attachment/eCLIP_analysisSOP_v1.P.pdf)

[2016-05-06 15:48] TorHou commented on #338
@thaze your new project

[2016-06-02 11:38] bgruening opened #355 "Add spectconnect into Galaxy"
[Spectconnect](http://spectconnect.mit.edu/) was requested by the metabolomic department.

[2016-06-02 15:18] bgruening opened #356 "Add edittag"
[edittag](https://github.com/faircloth-lab/edittag) was requested by the CLIP people

[2016-06-07 14:04] bgruening commented on #297
Solved with https://github.com/bgruening/galaxytools/pull/360

[2016-06-07 14:04] #297 closed

[2016-07-10 23:41] bgruening opened #370 "Get postgresql running in userspace"
Using this recipe it should be possible to run postgresql in userspace and to use rdkit+postgresql to power CTB:

https://github.com/conda/conda-recipes/blob/master/postgresql-9.3

@leobiscassi

[2016-07-10 23:48] leobiscassi commented on #370
I don't understand, you mentioned me because of the PR [#1929](https://github.com/bioconda/bioconda-recipes/pull/1929)?
Thanks for your attention! :smile:

[2016-07-10 23:51] leobiscassi commented on #370
ohhhhh, sorry!
I see what is the rdkit now ... I did not know of the project, looks good!

[2016-07-10 23:54] bgruening commented on #370
Just because to get your attention, because you are interested in CTB :). Our plan here is to run a complete postgresql with checmical compounds and rdkits [Cartridge](http://www.rdkit.org/docs/Cartridge.html) in userspace and save the DB as Galaxy dataset.

[2016-07-11 00:11] leobiscassi commented on #370
oh sure! I really much interested in CTB and further in cheminformatics + machine learning! I will see more deeply the rdkit project, I'm pretty excited in contributing with you in this topic!
I recently saw about galaxy + apache spark, you have some information about this!? I'm working with apache spark and clustering algorithms to analyze docking data in large scale.
I want to include this featu

[2016-07-13 09:38] #338 closed

[2016-07-14 02:33] mictadlo opened #374 "text_processing dependencies failed to install"
Hi, `text_processing` failed to install on Galaxy 15.07, because of this error https://github.com/galaxyproject/tools-iuc/issues/880

Would anyone be able to fix it?

Thank you in advance.

Mic

[2016-07-21 13:51] bgruening opened #376 "sklearn should use explicitly set random_state"
According to http://stackoverflow.com/questions/23445420/making-scikit-deterministic
we need to take more care about the random_state.

[code]

[2016-08-03 11:41] bgruening commented on #374
@mictadlo are you sure you have autotools and automake installed?

[2016-08-07 21:40] leobiscassi opened #385 "Troubles with Autodock Vina conda packages"
Hi,
I've tried use early galaxy versions in the last few days to test the conda dependency solver, but I don't get success with this. In [Autodock Vina Tools](https://github.com/bgruening/galaxytools/tree/master/chemicaltoolbox/autodock_vina), for instance, the vina program wasn't recognized. I have the follow configurations:

**dependency_resolvers_conf.xml**
[code]
**galaxy.ini**
[code]

[code]

[2016-08-11 09:40] bgruening opened #386 "ImageJ tools needed for the Imaging Flavour"
ImageJ Tool wishlist by @ThomasWollmann from [de.NBI](http://www.bioquant.uni-heidelberg.de/research/groups/biomedical_computer_vision.html)

* Image Converter formats + depth (8-Bit/16-Bit/RGB/...) + Bioformats (own plugin) (recent version is broken?)
* Images to Video (This should be covert or part of the graphicsmagic tool https://github.com/bgruening/galaxytools/blob/master/tools/image_process

[2016-08-11 09:53] bgruening opened #387 "Omero as IE"
Omer for Galaxy by @ThomasWollmann from [de.NBI](http://www.bioquant.uni-heidelberg.de/research/groups/biomedical_computer_vision.html)

Omero http://www.openmicroscopy.org/site/products/omero

[2016-08-11 10:01] ThomasWollmann commented on #387
My idea was not about integrating Omero as IE. We should have a call about the workflow of microscopy imaging facilities.

[2016-08-11 10:04] bgruening commented on #387
I changed the title, IE is one way we could do this I think an other is a data-source and a external visualisation, like the UCSC genome viewer.

[2016-08-11 11:39] nsoranzo commented on #387
This can be of interest to @gmauro , which has been working on Galaxy-Omero integration for many years.

[2016-08-11 12:03] bgruening commented on #387
@gmauro awesome! How far are you?

[2016-08-11 17:05] leobiscassi commented on #385
ping @bgruening

[2016-08-12 11:04] scholtalbers opened #388 "rnacommender Fatal error: Exit code 1 ()"
I just tried to install and run rnacommender from the main toolshed. Installation went fine (without any dependencies?).
But upon running the tool it exits with a "Fatal error: Exit code 1 ()". This is caused, by the somewhat odd init.sh script that looks for a directory in the **job working directory** and than downloads the required data - which on our server fails.

Shouldn't the init script ju

[2016-08-12 11:21] bgruening commented on #388
@scholtalbers have you enabled conda dependencies in Galaxy?
This tool comes with Conda dependencies so you need to have a Galaxy version >=16.01 with conda enabled.

[2016-08-12 11:27] scholtalbers commented on #388
@bgruening no, this is still running 15.10.. so I might not be able to run the script without providing the dependencies myself I guess.

However, the error does not come from missing dependencies (I assume), just from the init script and a failed download.

[2016-08-12 11:32] bgruening commented on #388
My guess is that the download files because of missing dependencies. This is what the script is doing. And the error occurs because the file that is expected does not exists :(

We have a Docker Image with this tool and a newer Galaxy version if this is of any interest for you.
ping @gianlucacorrado

[2016-08-12 11:39] scholtalbers commented on #388
Error is below (from the hide.txt). The script downloads a tar of ~350mb..(or at least tries)
The thing is that is should probably not check for the availability of the data in the working directory, but rather in the tool or tool-data directory.

[code]

[2016-08-12 15:30] bgruening commented on #388
It's the model that is used by the tool, currently we just download it as part of the tool, which is suboptimal, but this is how @gianlucacorrado has designed it currently. We have plans to offer a data select box, so you can download the model by your own and distribute it via a Library, but at the moment it's downloading the model temporary during every tool run.
I will try this today, but witho

[2016-08-12 21:56] bgruening commented on #385
Can you please try to run your tools just with:

[code]

[2016-08-13 07:32] gmauro commented on #387
We have worked a lot to integrate Omero.biobank and Galaxy, see
http://www.openmicroscopy.org/site/support/partner/omero.biobank

On Thu, Aug 11, 2016, 14:03 Björn Grüning <notifications@github.com> wrote:

[2016-08-13 08:04] ThomasWollmann commented on #387
@gmauro What kind of image data do you support and what kind of use cases are covered already?

[2016-08-17 14:42] leobiscassi commented on #385
I'll try again and give you a feedback about this, but I already made these tests in the past and not work. :cry:

[2016-09-13 20:12] leobiscassi commented on #385
I follow galaxy 16.07 release and works fine, thanks.

[2016-09-13 20:12] #385 closed

[2016-09-13 20:13] bgruening commented on #385
Wuhu!!!

[2016-09-19 18:16] jennaj commented on #331
@bwlang @bgruening Is this still in progress? Would be very helpful to have the reasons. Tx!

[2016-09-20 15:56] bwlang commented on #331
Maybe I can find some time tonight to wrap this up... sorry about the delay.

[2016-09-22 21:24] bgruening opened #409 "OpenBabel updates for 2.4.0"
We need to update CTB to include the new features. xref: https://github.com/openbabel/openbabel/releases

[2016-09-28 11:18] anilthanki opened #412 "UniProt ID mapping and retrieval : [Errno 2] No such file or directory: './output'"
Hi

I am trying to run UniProt from this toolset. using option to Map: UniProt id to Ensembl Genome Transcript. I ran into this error.

Error:
Fatal error: Exit code 2 ()
usage: uniprot.py map [-h] [--format FORMAT] f t [inp] [out]
uniprot.py map: error: argument inp: can't open './output': [Errno 2] No such file or directory: './output'

Command:
cut -f 1 /Users/thankia/tools/galaxy-release_15.07

[2016-10-05 12:08] TorHou commented on #269
@zwanli is working on this

[2016-10-05 13:25] zwanli commented on #269
Labels have been updated

[2016-10-05 15:39] bgruening commented on #269
Fixed by #416

[2016-10-14 19:38] #412 closed

[2016-10-19 08:22] TorHou commented on #193
@zwanli Could you have a look at that issue? http://www.tbi.univie.ac.at/~wash/RNAz/

[2016-10-19 13:20] TorHou commented on #76
This would be a nice addition @zwanli.

[2016-10-19 13:23] TorHou commented on #76
If you could update this to the latest version 1.1.2

[2016-10-20 14:39] gregvonkuster opened #420 "Upgrade ImageJ2 tools to Fiji Lifeline 20151222"
@bgruening I will upgrade the ImageJ tools to require the new Fiji Lifeline 20151222 version as soon as the required conda recipe is available. (the bioconda PR is here https://github.com/bioconda/bioconda-recipes/pull/2652).  I'm not quite sure how to proceed to do this using the de-multiplexed layout of the repo directory (https://github.com/bgruening/galaxytools/tree/master/tools/image_processi

[2016-11-11 12:16] yhoogstrate commented on #173
this got just added to the main tool shed: https://toolshed.g2.bx.psu.edu/view/earlhaminst/miranda

[2016-11-11 12:37] bgruening commented on #173
thanks @yhoogstrate !

[2016-11-18 14:20] bimbam23 opened #434 "bowtie index wrong path in xml"
galaxytools/tools/rna_tools/miRDeep2/miRDeep2_mapper/mapper.xml

[code]

needs to be changed to:

[code]

[2016-11-18 19:43] bgruening commented on #434
@bimbam23 do you want to create a PR for this? Or should I do?

[2016-11-21 12:48] TorHou opened #435 "remurna"
https://www.ncbi.nlm.nih.gov/CBBresearch/Przytycka/index.cgi#remurna

This tools is needed for a workflow in a project with @mmiladi.

[2016-11-21 12:49] TorHou opened #436 "RNAsnp"
http://rth.dk/resources/rnasnp/software

This tools is needed for a workflow in a project with @mmiladi.

[2016-11-21 12:58] zwanli commented on #436
I'm working on it

[2016-11-21 15:47] bimbam23 commented on #434
can you do that please ;-)

[2016-11-21 16:22] mmiladi commented on #436
@zwanli For a simple scenario wrapper you can check this Python Notebook: https://github.com/mmiladi/RNA-SNV-wrapper

[2016-11-22 22:43] bgruening commented on #434
Done in https://github.com/bgruening/galaxytools/commit/72d5201e0f804b2266ae5fbfd19f5a56a9b61b71
Thanks!

[2016-11-22 22:43] #434 closed

[2016-12-01 15:13] peterjc opened #456 "Salmon README misleading, does it require BioConda?"
A colleague recently installed your salmon wrapper from the main Tool Shed:

https://toolshed.g2.bx.psu.edu/view/bgruening/salmon/91f3a2147127

Quoting https://github.com/bgruening/galaxytools/blob/master/tools/salmon/README.rst

This did not happen - we don't have any salmon binary or Tool Shed package present.

Are you assuming BioConda dependency resolution is turned on? If so could you update

[2016-12-01 20:27] bgruening commented on #456
Oh yes, this is true, we assume that conda is enables :(
Fixed in https://github.com/bgruening/galaxytools/commit/d00810b7dff164755582ea0880f92e6c2d32b851

[2016-12-01 20:27] #456 closed

[2016-12-02 09:52] peterjc commented on #456
That README update looks perfect and should save others some confusion.

For the short term we've installed salmon 0.7.2 manually, as we're still running Galaxy 16.01 which didn't have conda turned on by default.

Thank you :+1:

[2016-12-10 23:15] bgruening opened #465 "segemehl needs a simple test case"
- [x] conda package
- [ ] test case

The test case can be similar to the BWA/Bowtie one.

https://github.com/bgruening/galaxytools/tree/master/tools/segemehl

@jfallmann is this something for you? Or can we get Steve for this.

[2016-12-11 13:04] jfallmann commented on #465
@bgruening Already on it, Steve is working on a new Segemehl version with specific Tests, lots of changes, so Tests for this version won't work on the new one, but I'll integrate BWA/Bowtie like tests for the included version

[2016-12-13 07:58] bgruening opened #472 "deprecate file_manipulation"

[2016-12-19 16:16] jfallmann commented on #465
@bgruening I think you can close this issue for now, more tests will come with the new version if that's ok

[2016-12-19 16:24] bgruening commented on #465
@jfallmann willst mich mal anrufen?

[2016-12-19 16:24] #465 closed

[2017-01-13 10:15] mmiladi commented on #436
@TorHou Is this one fixed? Shall we close it?

[2017-01-13 10:15] mmiladi commented on #435
@TorHou Is this one fixed? Shall we close it?

[2017-01-13 13:50] blankclemens commented on #307
Can be closed. https://github.com/galaxyproject/tools-iuc/pull/1012

If I have time, I'll look at the newly released KOBAS 3.0

[2017-01-14 15:57] bgruening opened #494 "openms plans"
* [ ] fix requirements (new openms package, fixed versions, get all missing ones in conda)
* [ ] create suite-enabled shed.yaml
* [ ] migrate to galaxyp
* [ ] more testing (currently, I was able to run a workflow with 15 steps, with collections on 12 samples, not bad! :))

@blankclemens @Stortebecker what do you think?

[2017-01-16 19:27] mmiladi commented on #436
@bgruening Pls close this issue

[2017-01-16 19:28] mmiladi commented on #435
@bgruening Pls close this issue

[2017-01-16 22:04] #435 closed

[2017-01-16 22:04] #436 closed

[2017-01-22 20:44] gregvonkuster commented on #420
Yes, sorry I forgot to close this.  This work has been finished, and the upgraded ImageJ2 tools can be uploaded to the MTS any time using your image team owner.  ;)

[2017-01-22 20:44] #420 closed

[2017-01-23 13:04] blankclemens commented on #494
Good points.

Regarding the dependencies: Myrimatch seems to be unavailable from official sources, regardless if binary or source. I'm not sure if there's any need?
OMSSA seems to be [available](ftp://ftp.ncbi.nlm.nih.gov/pub/lewisg/omssa/2.1.9/), although it's from 2010. Is there any evidence that these tools might be in use?

[2017-01-23 13:11] bgruening commented on #494
Ok, then let's remove this from the requirements and put both tools on the blacklist so we do not generate new wrappers anymore for them.

[2017-01-23 13:13] blankclemens commented on #494
That's why I put them in https://github.com/bgruening/galaxytools/blob/master/tools/openms/SKIP_TOOLS_FILE.txt ;)

[2017-01-23 13:54] Stortebecker commented on #494
OMSSA seems to be in use: https://www.ncbi.nlm.nih.gov/pubmed/?term=omssa

[2017-01-23 13:58] Stortebecker commented on #494
SEQUEST even more so, but it is not compatible with PS, as it seems: https://www.ncbi.nlm.nih.gov/pubmed/?term=sequest+proteomics

[2017-01-23 13:59] Stortebecker commented on #494
... and https://compomics.github.io/projects/peptide-shaker.html#introduction

[2017-01-23 14:01] bgruening commented on #494
@Stortebecker I guess the question is if we need support for these in OpenMS.
PS shipps it's own binaries so we do not need to care about it much.

[2017-01-23 14:02] Stortebecker commented on #494
You lost me. The PS node crashes when using OMSSA.

[2017-01-27 13:22] mmiladi opened #507 "splitfasta wrapper"
Hi @bgruening ,

@TorHou and I are trying to split a large fasta file using splitFasta wrapper.
Inside FR-Galaxy the splitting of the fasta file is shown as still ongoing, even though the job is finished on the server.

Could you please have a look to the xml, the conditional parameter `splitmode` is not available in FR-Galaxy instance, I guess there might be an inconsistency. Also there is a chan

[2017-01-27 14:09] bgruening commented on #507
Splitmode is the conditional below in the inputs, isn't it? Does it work for small files?

[2017-01-27 14:15] mmiladi commented on #507
No I cannot see the conditional in my browser.

[2017-01-27 14:17] mmiladi commented on #507
Yup it works for small files. Is it about splitting a big fasta file to single files in Galaxy (or FR-Galaxy..) not a good practice?

[2017-01-27 14:25] TorHou commented on #507
We should update from 0.2.0 to 0.3.0 of this tools on our server ..

[2017-01-31 05:25] mmiladi opened #510 "Multi-sequence support for RNA snp tools"
Hi @zwanli ,
Considering issue https://github.com/bgruening/galaxytools/issues/507 , we can think of extending RNAsnp and remuRNA wrappers to support multi sequences and snp-tags, e.g. support two types of input file fasta and tabular. With fasta type it can performs as current version, but with tabular the wrapper should split rows and run tool multiple times for each row.
Tabular format could ha

[2017-01-31 05:29] mmiladi commented on #510
What do you think @TorHou ?

[2017-02-13 10:47] TorHou commented on #510
I think it should be done. Probably I will do it.

[2017-02-13 11:00] zhuangfjnu opened #517 "package_r_3_2_1_getopt_1_20_0 error"
install 'package_r_3_2_1_getopt_1_20_0' tool dependencies error:
Missing R environment. Please check your specified R installation exists.

I have already installed the R_3_2_1 environment.
The tool_denpendencies_xml of package_r_3_2_1_getopt_1_20_0 shows

 <repository changeset_revision="d0bf97420fb5" name="package_r_3_2_1" owner="iuc" prior_installation_required="True"

the changeset package_r_3

[2017-02-23 20:16] nsoranzo commented on #63
Can be closed?

[2017-02-23 20:19] nsoranzo opened #530 "Update Salmon wrapper for 0.8.0"
See https://github.com/COMBINE-lab/salmon/releases/tag/v0.8.0

Bioconda package already available.

I may do this myself but can't promise.

[2017-02-23 21:21] bgruening commented on #63
jupp

[2017-02-23 21:21] #63 closed

[2017-03-12 03:43] bwlang opened #540 "methyldackel tool dep builds a file called "bin" instead of "MethylDackel""
ls -l /mnt/galaxy/data/galaxy/tool-deps/methyldackel/0.2.1/bgruening/pileometh/f112bf3dd5ff/bin
-rwxr-xr-x 1 galaxy galaxy 1639993 Mar 11 12:58 /mnt/galaxy/data/galaxy/tool-deps/methyldackel/0.2.1/bgruening/pileometh/f112bf3dd5ff/bin

I fixed the problem by renaming the bin file, creating a bin directory and moving MethylDackel inside it.

[2017-03-12 10:08] bgruening commented on #540
@bwlang does this help? https://github.com/bgruening/galaxytools/commit/2953c88908606f4f22b3987bc4ba29bdb4c30479

[2017-03-12 13:44] bwlang commented on #540
sorry - nope...
maybe this is a makefile bug?

Sorry to bug you with this...
I don't know how to make changes to tool dep scripts and test without actually uninstalling and reinstalling from the toolshed. Let me know if there is a better way.

From INSTALLATION_LOG

[2017-03-12 16:50] bwlang commented on #540
tested and working in my environment - thanks!

[2017-03-12 16:50] #540 closed

[2017-04-13 12:10] bgruening opened #550 "add zcat conda dependency to sailfish, salmon"

[2017-04-13 12:30] nsoranzo commented on #550
On my CentOS box, `zcat` is provided by `gzip` RPM, similarly on my Ubuntu desktop. Unfortunately there's no `gzip` package in our Conda channels.

[2017-05-02 07:03] dpryan79 opened #555 "Should bismark use its own tool data table?"
What are your thoughts on moving bismark to its own tool data table? As is, it shares the bowtie2 (or bowtie1) tool data table, which has the unfortunate side effect of the bismark indices then showing up when one runs bowtie2. I happened to have just noticed someone trying to use bowtie2 with a bismark index...which simply won't work (as an aside, I need to make a PR on the devteam repo because b

[2017-05-02 18:54] bgruening commented on #555
So this happens if there is an index for bismark but no index for bowtie? I never considered this case :(
Yes a separate data-table would then makes more sense!

[2017-05-02 18:56] dpryan79 commented on #555
They all show up regardless.
![image](https://cloud.githubusercontent.com/assets/6399000/25634123/bd788490-2f79-11e7-9051-ea4be3fff1a5.png)

[2017-05-02 19:01] bgruening commented on #555
This is wired. I do not see this :(

[2017-05-02 19:05] dpryan79 commented on #555
Are you tagging your fastq files with a genome? Ours usually aren't since I haven't a clue what people are sequencing. Either way it'd be nice to include a separate tool data table so they don't even show up in the bowtie2 wrapper.

[2017-05-04 19:03] jennaj opened #558 "Fix typos on Replace Text in entire line (Galaxy Version 1.1.0)"
Minor, but in the next revision perhaps include the fix?

**Typo1** There is `$` instead of `&` in this help line "$ (ampersand) represents the matched find pattern." The second bullet.

**Typo2** The word "begining" in the same help line is misspelled, should be "beginning"

[code]

ping @bgruening

ping @davebx Typos also on tool form for (Galaxy Version 1.0.0) - that is installed at http://useg

[2017-05-04 21:45] bwlang opened #559 "update galaxy toolshed with latest bismark wrappers"
I  see only a [version from 2015](https://toolshed.g2.bx.psu.edu/repository/browse_repositories?sort=name&operation=view_or_manage_repository&f-free-text-search=bismark&id=0df2df1072d600d7) in the toolshed.

I just patched up methylation extraction to fix [some](https://github.com/bwlang/galaxytools/commit/4d41cfbdf87968727c15a13bacbeea2d86b5a2d5) [bugs](https://github.com/bwlang/galaxytools/commi

[2017-05-04 21:55] bgruening commented on #559
I just merged a patch for these tools a few days ago and wanted to test it more, as these tools do not have tests yet :(
If you can help testing I will push them.
Btw. you should not use the methylation extractor, this tools needs to be deprecated.
Please use methyl-dackel, also in this repo.

[2017-05-04 22:01] bwlang commented on #559
hmm - i have a working version of methyl-dackel installed, but users asked for the extractor too...
what's wrong with the extractor?

[2017-05-04 22:05] bgruening commented on #559
It's slow and only supports Bowtie or Bismark. I will do a release tomorrow I hope the last changes are good :(

[2017-05-06 16:04] #558 closed

[2017-05-06 16:05] bgruening commented on #558
@jennaj thanks, should be fixed now. If you like and are familiar with github, feel free to change these things directly.
Especially help texts and so on are easily fixable via the github text editor.

[2017-05-06 17:17] bgruening commented on #559
Done!

[2017-05-06 17:17] #559 closed

[2017-05-07 00:08] bwlang commented on #559
👍
Thanks!

On Sat, May 6, 2017 at 1:17 PM, Björn Grüning <notifications@github.com>
wrote:

[2017-05-08 17:41] jennaj commented on #558
Will do, faster that way. :)

[2017-05-19 06:14] abretaud opened #573 "Deadlocks when testing ImageJ tools"
A strange problem: when testing with planemo some imagej tools (https://github.com/bgruening/galaxytools/blob/master/tools/image_processing/imagej2/imagej2_create_image.xml for example), the test never ends.
When doing a `ps` the ImageJ process is in T state (=stopped) and it won't resume.
Strangely, if running the tool_script.sh by hand from the workdir, it runs fine and gives the correct result.

[2017-05-19 07:20] bgruening commented on #573
@abretaud yeah, the Java-Python bridge has some problems here. It all magically works if you use a real job runner not the local one. E.g. in a Container.
ping @gregvonkuster

[2017-05-19 11:33] gregvonkuster commented on #573
@abretaud This is the line of code in the local job runner that is blocking the Java call: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/jobs/runners/local.py#L100.  Commenting out the ```preexec_fn=os.setpgrp``` parameter will unblock the local job runner for these tools.

[2017-05-24 10:14] bernt-matthias opened #582 "openbabel convert"
I'm wondering why the list of input file types is limited to SDF, MOL, MOL2, CML, InChI and SMILES? I would like to convert pdb to sdf which is possible on the commandline.

[2017-05-24 10:42] bgruening commented on #582
Most probably, I just missed it. You could add it here: https://github.com/bgruening/galaxytools/blob/master/chemicaltoolbox/openbabel/macros.xml#L16

But please note that this macro is also used in other tools and we need to make sure other tools can consume pdb as well.

[2017-05-24 12:46] bernt-matthias commented on #582
I looked around a bit:

- ob_remSmall, ob_remDuplicates, ob_depiction_svg, ob_convert directly call babel which should be fine
- ob_grep and multi_obgrep use obgrep:  I tested successfully: `babel test-data/8_mol.smi test-data/8_mol.pdb; obgrep "CO" -i pdb test-data/8_mol.pdb`
- ob_genProp and ob_addh use python scripts which rely on pybel. This should be fine since pdb is in pybel.informats.
- St

[2017-05-24 12:57] bernt-matthias commented on #582
One more thing. If I got the xml file for convert correctly then for some output formats special options are set. Is the same done also for the infiles? Maybe I missed it. I have seen that babel can list the possible options:

[code]

[code]

[2017-05-24 13:42] bgruening commented on #582
Thanks for looking into it. I'm currently on a workshop so sorry for being slow to reply.
Currently, we do not support the different options for inputs. But this would be easy to implement I guess.

[2017-05-24 20:45] martenson opened #584 "diamond allows to submit with insufficient arguments"
A user is getting `Insufficient arguments. Use diamond -h for help. is my output` after providing this input:
![](https://files.gitter.im/galaxyproject/Lobby/2l96/Screen-Shot-2017-05-24-at-1.02.29-PM.png)

[2017-05-25 09:04] shiltemann commented on #584
is this on usegalaxy.org? there seems to be a newer version of this tool available in this repo, perhaps could try updating first and see if the problem persists in newer version?

[2017-05-25 09:06] shiltemann commented on #584
it seemed to work locally for me with similar settings at least in new version

[2017-05-25 14:16] martenson commented on #584
@shiltemann yes, Main, I will update.

[2017-05-26 00:39] martenson commented on #584
Main updated with newest version

[2017-05-26 16:15] bgruening commented on #584
@martenson let me know if this fixes your issue, I will be back shortly.
Thanks @shiltemann for looking this up!

[2017-05-30 08:39] bgruening commented on #331
ping @bwlang  :)

[2017-05-31 02:16] bwlang commented on #331
I think this is ready to go now - tests pass.

[2017-06-01 13:20] bgruening commented on #573
@abretaud is this working for you now?
I have put together a new version of the container here: https://github.com/bgruening/docker-galaxy-imaging

[2017-06-04 14:02] obbedio opened #590 "CircExplorer error"
Good afternoon,
I'm Luigi, and I need to use Circexplorer in Galaxy local. I obtained a serious problem, with the following issue:

**Traceback (most recent call last):
  File "/home/USER/galaxy/database/dependencies/_conda/envs/__circexplorer@1.1.9/bin/star_parse.py", line 42, in <module>
    main()
  File "/home/USER/galaxy/database/dependencies/_conda/envs/__circexplorer@1.1.9/bin/star_parse.py

[2017-06-07 18:58] abretaud commented on #573
I think I still have the problem, unless you mean you changed something for the local job runner?

I just tried replacing `preexec_fn=os.setpgrp` by `preexec_fn=os.setsid` and it seems to fix the deadlock problem, and it should do the same job on the created process (by looking at the doc).
It feels a little scary though to touch this kind of code! But I can make a PR of course.

The new container

[2017-06-07 19:28] bgruening commented on #573
@abretaud we decided to not PR this code as no one will use the local-runner in production. But it's hard to test :(

[2017-06-07 19:57] abretaud commented on #573
ok, I understand, perfectly reasonable to let this code as it is

[2017-06-09 19:55] jennaj commented on #331
Original version reported: **0.4.1**
Version on http://usegalaxy.org (that still does not present useful error message): **0.4.2**

Latest version in Tool Shed 6/1/2017 that appears to be the one with @bwlang 's change: **0.4.3.1**

@davebx @martenson Could we please update Main?

[2017-06-20 15:37] malloryfreeberg opened #598 "Salmon 0.8.2 wrapper incorrectly tries to zcat uncompressed file"
I installed salmon (v0.8.2) on my CloudMan Galaxy running 16.10. I ran salmon, giving it a collection of uncompressed fastq files. Run failed with error message:

[code]

So it appeared that no reads were being recognized by salmon despite there being a few GB of data in each input file.

Then I noticed before these lines the output:

[code]

The call to salmon is:

[code]

So, it looks like it's

[2017-06-20 15:43] bgruening commented on #598
@malloryfreeberg the compression is type is set here: https://github.com/bgruening/galaxytools/blob/master/tools/salmon/salmon.xml#L68
Can you plesae check that your datatype in your history is really `fastq` and not `fastq.gz`

[2017-06-20 15:49] malloryfreeberg commented on #598
@bgruening the datatype is fastqsanger

![2017-06-20-datatype](https://user-images.githubusercontent.com/10993501/27342549-84a11d0c-55ae-11e7-9f7b-d4fc831dc939.png)

[2017-06-20 22:16] bgruening commented on #598
This is strange can you check if it is the latest version?

[2017-06-21 02:19] malloryfreeberg commented on #598
Salmon tool form > Options > See in Tool Shed:

<img width="1438" alt="2017-06-20-toolform" src="https://user-images.githubusercontent.com/10993501/27364101-6d9e4e06-5606-11e7-92e5-aa214da4cf63.png">

<img width="1437" alt="2017-06-20-salmon" src="https://user-images.githubusercontent.com/10993501/27364103-70f630c8-5606-11e7-8b35-e85e0824d81c.png">

[2017-06-21 23:51] nsoranzo commented on #598
That's probably not the bug, but shouldn't lines like:
[code]
actually be:
[code]
?

[2017-06-22 11:56] bgruening commented on #598
@malloryfreeberg and I guess this is Galxay 17.05?
@nsoranzo this would probably be better, but it is everywhere https://github.com/galaxyproject/tools-iuc/blob/2d92a777711babd19c84dfa0db806d33e386afc7/tools/hisat2/hisat2_macros.xml#L101 and I don't think it is causing this error.

[2017-06-22 13:39] nsoranzo commented on #598
@bgruening No, Mallory said in the first post: CloudMan Galaxy running 16.10.

The missing `$` is not the cause of the error, it seems we are using this slightly less Cheetah syntax 38% of the time!

The reason for this error is that the compressed datatypes don't exist in Galaxy before 17.01 and `$hda.is_of_type('notexistent_datatype_ext')` gets converted to `hda.dataset.datatype.matches_any( dat

[2017-06-22 14:42] bgruening commented on #598
Oh, ok. I missed that, than we have a Galaxy bug here :(

[2017-07-03 17:42] jvolkening commented on #102
Two years later, but since this issue is still 'open'...

I would like to have `tbl2asn` as a standalone tool for use within various annotation and submission workflows. In checking to see if it exists I ran across this thread. However, it doesn't appear that tbl2asn itself was ever wrapped but rather included in other pipeline-based tools. Is this right? Am I duplicating anything existing if I wr

[2017-07-03 18:47] bgruening commented on #102
@jvolkening happy to accept a PR with this tool. BioConda will make it easier for us to maintain it. Let's close this once and for all.

[2017-07-05 16:40] mmiladi opened #600 "Field separator for awk wrapper"
Currently the FS and OFS variables of awk wrapper are fixed to be \t. It would be very appreciated to have custom fieldseparator. Any free HiWI @TorHou  :)?

https://github.com/bgruening/galaxytools/tree/master/tools/text_processing/text_processing

[2017-07-05 16:44] mmiladi commented on #600
Using something like `BEGIN {FS=" "; OFS="\t"}` would be a workaround that can be added to the help as an example hint.

[2017-07-05 17:13] bgruening commented on #600
Milad any concrete use-case?

[2017-07-05 17:19] mmiladi commented on #600
I have tabular looking input txt files separated by whitespace. Also sometimes one wants to generate comma or tab separated output (with OFS variable). If you think the usage is rare my second comment with BEGIN field is also very fine, just it took me a while to remember one can use BEGIN statement to reset the variables passed by `-v` option.

[2017-07-06 08:46] TorHou commented on #600
I use OFS and FS. To me that's not a workaround but the standard solution :) You are right that we could add an example for that.

[2017-07-11 21:19] #600 closed

[2017-07-26 03:15] bwlang commented on #530
this is resolved in dbd88e4acf1f3ec1be0a88816ca850e768969fa1

[2017-07-26 03:21] bwlang opened #611 "salmon wrapper incorrectly detects fastq.gz file type"
I get this

[code]

I dont see any error in the logic... but it seems that
is_of_type is not reliable on my installation.
[code]
The input type is of type  fastqsanger according to the library metadata
 

Input Parameter | Value | Note for rerun
-- | -- | --
File Format | fastqsanger |  
async_datasets | None |  
Specify Files for Dataset (fastqsanger) | 1 uploaded datasets |  
Genome | Human Dec.

[2017-07-26 07:31] #530 closed

[2017-07-26 21:39] bgruening commented on #611
@bwlang which Galaxy version is this?

[2017-07-27 00:41] bwlang commented on #611
* release_17.05

On Wed, Jul 26, 2017 at 5:39 PM, Björn Grüning <notifications@github.com>
wrote:

[2017-08-08 20:13] bgruening opened #616 "infernal datatype needs to be added to Galaxy"
https://github.com/bgruening/galaxytools/blob/master/tools/rna_tools/infernal/infernal.py

[2017-08-22 21:25] jennaj commented on #331
Update - 0.4.3.1 was installed at http://usegalaxy.org.

When given a truncated fastq input, the error is still non-specific.

@bwlang Is this still expected? I haven't looked at the test cases yet, but this one is pretty common, so if not included yet, perhaps could include it next update?

[2017-08-24 11:34] dpryan79 opened #620 "salmon doesn't accept PE collections?"
One of my folks just noticed that salmon doesn't accept PE collections. If I get a chance I'll make a PR.

[2017-08-24 18:01] bgruening commented on #620
Sorry, sailfish probably as well. Never got to he point to update them :(

[2017-08-29 16:03] jennaj opened #621 "Trim Galore! enhancement: add in 5' adaptor trim or consider alternatives"
Trim Galore! is wrapped around cutadapt.

Options include:
 - update the Trim Galore! wrapper (preferred)
 - or update the older cutadapt wrapper and add as a distinct tool to public servers like Galaxy main http://usegalaxy.org

Updating Trim Galare! would likely involve: adding more of cutadapt's functionality to the existing wrapper.
cutadapt permits both 5' & 3' adaptor clipping and other opti

[2017-08-31 10:05] bjoernvoss opened #622 "segemehl does not support multiple input files"
The wrapper for segemehl allows to select multiple FastA/Q files as query input, but segemehl does not support multiple input files (also not in paired-end mode). This should be changed. Furthermore support for collections would be great to work with multiple input files.

[2017-09-02 11:18] bgruening commented on #622
@jfallmann can you look at this or should I?

[2017-09-04 08:38] jfallmann commented on #622
@bgruening can have a look at the wrapper, the collections will have to wait

[2017-09-04 12:59] bgruening commented on #622
Cool, thanks @jfallmann! @bjoernvoss can you test this https://github.com/bgruening/galaxytools/pull/623
Otherwise I will merge this in a few days.

[2017-09-04 14:06] bgruening commented on #622
fixed by #623

[2017-09-04 14:06] #622 closed

[2017-09-06 15:02] bernt-matthias opened #624 "IntaRNA libicudata version problem"
When executing IntaRNA I get the following error:

[code]

The problem is most likely with the version, since only the following is installed:

`... database/dependencies/_conda/envs/__intarna@2.0.0/lib/libicudata.so.56.1`

[2017-09-06 15:20] bgruening commented on #624
If you like please try #625

[2017-09-06 15:28] #624 closed

[2017-09-07 12:26] bernt-matthias opened #626 "IntaRNA"
Just another minor problem in IntaRNA (sorry that I overlooked this yesterday .. but its running anyway):

I guess the format needs to be `txt` for the files. I do not know about the `*`.

[code]

[2017-09-07 12:47] bgruening commented on #626
Fixed and deployed to the TS. Thanks for reporting! Feel encouraged to submit PRs :)

[2017-09-07 12:47] #626 closed

[2017-09-12 14:22] borauyar opened #628 "salmon assumes input fastq is gzipped"
Hi Bjoern,
When I run Salmon (Galaxy tool version: 0.8.2) on a fastq file, I get this error:

Then, we checked the command that is executed, it goes like this:
`salmon quant --index ./index --libType U --unmatedReads <(zcat ./single.fastq) ...`

So, it is trying to unzip the input file. It does the same for fastq or fastqsanger formats.

Then, I tried providing a gzipped fastq file as input, and i

[2017-09-15 09:03] borauyar opened #629 "Aresite2 (v0.1.2) assumes default python version is python3"
In the aresite2.xml tool description file, the aresite2.py script is called like this:
`python aresite2.py -g 'cxcl2' -m 'ATTTA' -s 'Homo_sapiens' >log.out`

Some of the imported modules are urllib.request, urllib.parse, urllib.error, which are not available in python2 but only available in python3. When python3 is not available, it gives this error:

  File "/data/galaxy/shed_tools/toolshed.g2.bx

[2017-09-15 09:13] bgruening commented on #629
@borauyar requests should be available for python2 as well: https://anaconda.org/conda-forge/requests/files
However, it can be that this tool is only running under python3 for other reasons that I don't know and that we did not catched because all newer Galaxy/Conda dependencies are running with python3. If this is the case please add `<requirement type="package" version="3.4">python</requirement>

[2017-09-15 09:19] jfallmann commented on #629
@borauyar @bgruening Thanks for finding and fixing this, I was not aware this does not work with python2, also thought it should be compatible, however python 3 is now a requirement

[2017-09-15 09:27] borauyar commented on #629
@jfallmann @bgruening perfect, thanks!

[2017-09-15 09:30] nsoranzo commented on #629
Re-adding support for Python2 may be just a matter of use `six.moves` for imports.

[2017-09-15 18:47] #629 closed

[2017-09-18 09:56] borauyar commented on #628
The bug persists still after updating galaxy to the latest version (17.05). Providing zipped fastq files as input solves the problem. Somehow Salmon either can't read the input type, or it is just assuming that the input is gzipped fastq file.

[2017-09-19 13:24] borauyar commented on #628
Re-installing Salmon (the same version) after updating to Galaxy 17.05 solved the problem.

[2017-09-19 13:24] #628 closed

[2017-09-20 13:10] bgruening commented on #628
Mh ... but good that it is working now.

[2017-09-22 14:01] dpryan79 opened #633 "Metilene outputs"
It would be really nice if the various outputs from metilene were documented in the wrapper. At the moment, there are 4 or 5 history items, one of which is a big table with no header. The headerless table wouldn't be an issue if the columns were listed in the wrapper :)

[2017-09-27 17:45] bgruening commented on #193
I don't think anyone is working on this issue anymore :-(

[2017-09-28 15:20] bgruening commented on #370
and here we go! https://github.com/bgruening/galaxytools/pull/642
ping @erasche

[2017-09-29 10:06] jfallmann commented on #269
There is still room for love,
many tools need a workover and we really have to think about converting outputs into something usable within the galaxy framework
Big issues with RNAz and other tools, mostly options not working correctly and not being tested
we also need wrappers for some of the pre and post processing tools

[2017-09-29 12:23] TorHou commented on #269
Pre- and post- processing tools that are part of the Vienna package? Or external tools?

I wanted to suggest to get a Hiwi working on this, but I guess at this point one would need somebody with more intimate knowledge of the Vienna tools.

[2017-09-29 15:06] jfallmann commented on #269
consider this a we'll take care of that, but it will take some time

[2017-10-06 13:26] abretaud commented on #334
It's fixed in https://github.com/galaxyproject/tools-iuc/pull/1503 using the patch from #335

[2017-10-19 18:51] #334 closed

[2017-11-15 18:02] lparsons opened #659 "Salmon - Alignment-based mode"
It would be nice to support Salmon's [alignment-based mode](http://salmon.readthedocs.io/en/latest/salmon.html#alignment-based-mode) for quanitificaton from a BAM file. Are there any plans for this, or any thoughts on how to implement? Same tool or a new tool?

[2017-11-15 21:17] bgruening commented on #659
I would put this into the same tool and the first parameter could be a conditional to ask for the mode?

[2017-11-15 21:17] bgruening commented on #659
Also fine with me to move this over to IUC if this tools get more and more important.

[2017-12-06 11:26] bgruening opened #668 "deepchem to Galaxy"
https://github.com/deepchem/deepchem

[2017-12-21 19:44] zfrenchee opened #670 "diffbind should be able to take collections for case/control"
DiffBind is often used with multiple samples / replicates. In Galaxy, you can input these manually, one by one, but if you have 10 or 100, this isn't particularly feasible.

[2017-12-21 19:48] zfrenchee opened #671 "diffbind should be able to take an FDR cutoff"
When we don't use Galaxy, on our local cluster, we set an FDR cutoff in diffbind:
[code]
The relevant part is `th=.1`.

We'd like to be able to accomplish the same thing with Galaxy. I suspect it shouldn't be too hard to add this FDR cutoff to the `<command>` and to the UI?

[2017-12-23 20:45] bwassie opened #672 "Extracting binding affinity matrix from DiffBind galaxy tool"
When using DiffBind in R, we can extract the binding affinity matrix as such:
`dba.peakset(sample_count, bRetrieve=TRUE,DataType=DBA_DATA_FRAME)`

Is it possible to have a way to do this in the galaxy tool? We want to use galaxy to do all of our differential analysis but still retain the binding matrix for our own downstream analyses.

[2017-12-23 20:52] bgruening commented on #672
@bwassie thanks for the issue. This would be possible. I think we can easily add a optional output with this matrix.

[2018-01-05 08:48] zhuangfjnu opened #675 "chromosome length No tablular dataset available."
I have make a chromosome length file for mouse mm9 genome, as bellow:
chr1 197195432
chr2  181748087
chr3 159599783
chr4 155630120
.....
chrX | 166650296
A tab delimited file with 2 columns.
But , when I upload this file to galaxy as tabular file, the footprint tool can't get it.
The chromosome length still shown gray color with text: No tablular dataset available.
How can I define the filetype of

[2018-01-09 17:51] mmiladi opened #677 "Issues and ideas for improving GraphClust wrappers"
Below I collect a list of issues to resolve and points to improve with GraphClust wrappers. This issue is intended to collect them in the first place, rather than fixing them :-)

[2018-01-09 17:53] mmiladi commented on #677
GSPAN output of Strucutre_to_GSPAN wrapper is a zipped text file of format bz2. Galaxy recognizes it with .null extension.

[2018-01-10 22:00] bwlang commented on #611
i tried reinstalling as borauyar did, but i was not able to resolve the attempt to zcat fastqsanger files...

[2018-01-11 18:50] bwlang commented on #611
I think this was be due to the fact that my datatypes.xml does not contain the fastq.gz ... types.
Perhaps a bug in the implementation of is_of_type?
After adding the .gz types, salmon runs fine.

[2018-01-11 22:49] bgruening commented on #616
@mmiladi fixed this :)

[2018-01-11 22:49] #616 closed

[2018-01-12 23:37] nsoranzo commented on #611
@bwlang Your 17.05 `datatypes_conf.xml` should have contained `fastq.gz`, remember to keep it in sync with the sample file (or remove it if you don't have local modifications).

[2018-01-12 23:37] #611 closed

[2018-01-28 09:06] #671 closed

[2018-01-28 09:07] bgruening commented on #672
This should be fixed with the newest release.

[2018-01-28 09:07] #672 closed

[2018-01-29 00:44] bgruening opened #680 "cat tools should have an option to include the display_name or the collection identifier as an additonal column"

[2018-01-30 15:43] zfrenchee commented on #670
Now that this tool is in [tools-iuc](https://github.com/galaxyproject/tools-iuc), I'm going to close this issue and open a new one over there: https://github.com/galaxyproject/tools-iuc/issues/1694

[2018-01-30 15:43] #670 closed

[2018-02-12 16:21] arbernard opened #683 "SortMeRNA data manager - Broken URL ?"
Hello everyone,

As requested by @bebatut, I'm creating this issue to warn you about a problem I encountered this morning with the current revision of the SortMeRNA data manager available on the MTS (revision 7d2252852f96).

When I try to execute the data manager it fails and it displays the following errors:

[code]
It seems that it tries to access a file that no longer exists on the /biocore/sor

[2018-02-12 16:23] bgruening commented on #683
@arbernard can you dig our this file out of the github history? Then a fix would be easy.

[2018-02-12 16:56] arbernard commented on #683
It seems that the databanks are included in a rRNA_databases folder of the source code archive.

The URL is https://github.com/biocore/sortmerna/archive/2.1b.tar.gz (and the link is not broken).

I bet that this is already the URL used in the data manager so I don't get why I get an error when I execute the data manager...

[2018-02-16 08:10] bgruening commented on #683
@arbernard can you try it in a Docker image and see if this works?

[2018-02-16 09:42] arbernard commented on #683
I'm not familiar with docker, how do i do that ?

In the meantime, I've just tried to install and execute the data_manager on another galaxy instance (different network and environment) and it worked without issue. I bet there is something preventing the proper download of the archive on the other instance I was using before.

[2018-02-16 09:50] bgruening commented on #683
OK. This is what I wanted to check, it this was a network issue. Sorry to hear that :(
I will close this issue then. Let us know if we can help.

[2018-02-16 09:50] #683 closed

[2018-02-16 10:05] arbernard commented on #683
I've reported the issue to the platform. Sorry for the false alarm here ^^

[2018-02-27 22:59] caleb-easterly opened #690 "cat cannot be given dataset collection input in workflow"
I'm not sure what the problem is here - the `cat` tool can concatenate a dataset collection together outside of a workflow, but inside of a workflow it does not accept a dataset collection.

[2018-02-28 17:35] caleb-easterly commented on #690
Working now! I made a mistake in the workflow.

[2018-02-28 17:35] #690 closed

[2018-02-28 18:37] bgruening commented on #690
Puh!

[2018-03-13 21:36] qiagu commented on #675
Did you check your data by visualization after uploading? Click the eye icon in the History entry.

[2018-03-15 05:15] qiagu opened #704 "File name conflict in case-insensitive operating system"
[code]

It gives me problem in Mac OS

[2018-03-23 07:11] bgruening commented on #704
Fixed :)

[2018-03-23 07:11] #704 closed

[2018-03-28 17:02] bwlang opened #708 "bismark methylation extractor: gzipped is not a valid data type"
https://github.com/bgruening/galaxytools/blob/6a688af07eb65f08922cf59dabcbc1b16277db8c/tools/bismark/bismark_methyl_extractor/bismark_methylation_extractor.xml#L130

I could not find a valid datatype to represent this output.
I'm not sure the output is useful anyway...

options:
  - add a 'gzipped' datatype to galaxy's datatypes
  - add a 'tar.gz' datatype to galaxy's datatypes (and change this to

[2018-03-28 21:25] bgruening commented on #708
There should be a compressed_archive datatype as far as I know, which we can use. Otherwise I would remove the output.
Overall, I think we should deprecated the tool in favor of MethylDackel, or is there any functionality missing?

[2018-03-28 21:27] bwlang commented on #708
I think bwameth + methyldackel is superior too - but some people still want to use the bismark tools.
I'll try the compressed_archive datatype.

[2018-03-28 21:39] bwlang commented on #708
i just looked at the datatypes_conf.xml.sample
theres no compressed_archive extension, but that did help me find

    <datatype extension="tar" type="galaxy.datatypes.binary:CompressedArchive" subclass="true" display_in_upload="true"/>
I'll use that... it's not quite right  but best existing option i think.

[2018-05-23 01:14] jgoecks opened #725 "Remove/make optional Column selection in Scikit-learn tools"
I'd like to run a Sk-learn workflow on a collection of datasets (e.g. preprocessing, training, evaluation). However, this isn't possible right now unless each dataset has the same number of columns. This is because column selection is mandatory for all training/test datasets. In order of preference, I suggest (1) moving to an approach where columns are not selected at all or (2) column selection i

[2018-05-23 01:42] qiagu commented on #725
It will be a big change, great enhancement though. If going with (1), probably, we need a separate tool to do column selection or splitting? But this still seems to be a variant of (2). If we completely ignore the column selection, how to make the tool(s) work for a dataset containing both features and labels in columns?

[2018-05-23 01:50] qiagu commented on #725
Can we give the column selector an option 'All'? I know some sklearn functions accept this option in addition to int and float.

[2018-05-23 04:33] jgoecks commented on #725
Nm, I think we can make (2) work and preserve existing functionality. I am closing in favor of a future PR.

[2018-05-23 04:33] #725 closed

[2018-06-15 18:55] bgruening commented on #677
ping

[2018-06-19 15:53] bgruening commented on #633
@bagnacan can de.STAIRs take this one?

[2018-06-19 15:55] bgruening commented on #582
@egeogretmen can you maybe look at this?

[2018-06-19 15:56] bgruening commented on #555
Still relevant or are we deprecating bismark in favor of bwa-meth?

[2018-06-19 15:56] #494 closed

[2018-06-19 15:57] bgruening commented on #374
This should be solved with conda dependencies.

[2018-06-19 15:57] #374 closed

[2018-06-19 15:58] bgruening commented on #376
@qiagu we should keep this in mind.

[2018-06-19 15:59] #307 closed

[2018-06-19 16:55] qiagu commented on #376
@bgruening  this is new to me. Thank you for sharing the information.

[2018-06-20 07:00] bagnacan commented on #633
@koriege can you have a look at it?

[2018-06-21 19:52] qiagu opened #753 "data_column selector fails to generate correct index list when the number is 10 or greater and the multiple is set to false"
When multiple is false, the selector is supposed to output a single number list, for example, [2], [10]. However, when the chosen column number is 10 or greater, it outputs a digits list, like [1, 0] for 10 and [1, 8] for 18.

[2018-06-21 19:59] bgruening commented on #753
Sounds like an integer is taken as string. Maybe you need to cast it directly to int(X)?

[2018-06-21 20:03] qiagu commented on #753
`[int (''.join(str(i) for i in c))]` works for me. But I guess the work should be done in Galaxy.

[2018-06-28 18:10] bagnacan commented on #633
Will be fixed with the new version in a few days.

[2018-06-28 18:17] bgruening commented on #633
Awesome!

[2018-07-01 22:02] jgoecks opened #756 "Galaxy-Scikit Learn paper"
@bgruening @qiagu

To publish I suggest that we perform two analyses:

1. Reproduce the work in [this paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5890912/). This is a large analysis that will exercise much of the Sk-Learn functionality in Galaxy. Here are [datasets](https://github.com/EpistasisLab/penn-ml-benchmarks) and [scripts/Jupyter notebooks](https://github.com/rhiever/sklearn-benchm

[2018-07-01 22:08] bgruening commented on #756
Thanks for the summary @jgoecks!

[2018-07-02 05:03] qiagu commented on #756
The #1 is the same as the one I shared with @bgruening 2 days ago.

[2018-07-06 19:48] qiagu commented on #756
Things need to be done in my mind:
1) introduce the new dataset input system (including the column selector, header options and so on) to the old tools.
2) add pre-processing module into the pipeline of cross-validation
3) improve the UI of param_grid input box
4) make random search cross-validation possible
5) training materials

[2018-07-06 20:02] bgruening commented on #756
:+1: !!!

[2018-07-19 00:09] qiagu commented on #753
Solved. 😄

[2018-07-19 00:09] #753 closed

[2018-07-19 14:00] ccedmendoza opened #766 "ChipSeeker error"
Hi,

When I install chipseeker in galaxy, using the toolshed, I get the following error if I try to run it:

[code]
And I get the same error if I try to run a `planemo test` on chipseeker.xml.

Thank you for your time.

[2018-07-19 21:57] mblue9 commented on #766
Just tested this and it works fine for me with planemo test. Wondering if there's an issue with your conda channels or a version of something you're using. I'm using planemo 0.54.0, conda 4.3.24 and the packages I've got in the chipseeker env are:

[code]

[2018-07-20 07:27] bgruening commented on #766
@ccedmendoza you are running on Linux and @mblue9 under OSX is this correct? There is a current bug in the Conda R package that does not deal well with libgfrotran-ng.
@ccedmendoza if you can install libgfortran into the environment that was created by Galaxy manually and it will work - otherwise please wait a few days we try to fix the conda package :(

[2018-07-20 07:47] ccedmendoza commented on #766
Thank you for the fast reply.
I will be following the future changes of the tool.

[2018-07-24 08:30] bgruening commented on #766
@ccedmendoza can you try this again if it works for you without the gfortran hack?

[2018-07-24 09:45] ccedmendoza commented on #766
@bgruening I tried it on my galaxy server and with planemo but both still had the previous error.

[2018-07-24 09:51] nsoranzo commented on #766
@ccedmendoza You need to remove the conda environment and let Galaxy/planemo recreate it.

[2018-07-24 09:56] ccedmendoza commented on #766
@nsoranzo that's what I did.

[2018-07-24 13:16] bgruening commented on #766
Can you please give me the new error message?

[2018-07-25 08:12] bgruening commented on #766
@ccedmendoza that is at least progress. Can you please try again :)

[2018-07-25 09:10] ccedmendoza commented on #766
@bgruening I got the same error:

[code]

[2018-07-25 09:21] bgruening commented on #766
@ccedmendoza ok, we are processing. Please again :)

[2018-07-25 09:57] ccedmendoza commented on #766
@bgruening Planemo still gets:

[code]

[2018-07-25 10:33] ccedmendoza commented on #766
@bgruening I think it's ok now I tried toinstall it on the galaxy servcer and got this after running:

[code]
That's just an input data problem but it still means it correctly imported the libgfortran

[2018-07-25 10:38] bgruening commented on #766
Yeah! Stupid conda ... :) But we solved it. Thanks for you help!!!! Can you close this one and the PR.

Thanks again!

[2018-07-25 10:40] #766 closed

[2018-07-26 20:49] lparsons commented on #659
Now that we have salmon 0.11.0 in bioconda, I'm working on updating the wrapper. It's probably a good time to move it over to IUC as well. What's the preferred way to handle that?

[2018-07-26 20:54] bgruening commented on #659
Create a PR in IUC, but leave the owner in the shed.yaml as it is here. IUC has aready write permissions to this repo. As a second step please create a PR to this repo and replace the wrapper with a README file indicating the move.

Thanks Lance!

[2018-08-01 21:30] jennaj opened #770 "Uniprot fails at both usegalaxy.org and usegalaxy.eu"
MTS: https://toolshed.g2.bx.psu.edu/view/bgruening/uniprot_rest_interface/df4c547b2533

Version: UniProt ID mapping and retrieval (Galaxy Version 0.1)

Fails in a different way on each server, but consistently, and when using example data. Maybe there is a problem with the API connection?

Test histories:

https://usegalaxy.eu/u/jenj/h/test-history-uniprot-id-map

https://usegalaxy.org/u/jen/h/tes

[2018-08-03 21:57] jgoecks commented on #756
@qiagu

Here's my current list:

- [x] introduce the new dataset input system (including the column selector, header options and so on) to the old tools.
- [x] add pre-processing module into the pipeline of cross-validation
- [x] improve the UI of param_grid input box
- [ ] add `random_state` parameter for estimators to improve reproducibility
- [ ] make random search cross-validation possible tra

[2018-08-10 04:59] qiagu commented on #756
The current tool set works mostly fine with the Penn datasets. For further improvement, below is my new work list:

- [ ] n_jobs vs. GALAXY_SLOTS
- [ ] make scoring selector, make_scorer possible (hard)
- [ ] more scipy distribution support, change symbol table (need security inspection)
- [ ] change safe_eval function to class for code efficiency
- [ ] search param text file support
- [ ] general

[2018-08-10 17:16] jgoecks commented on #756
Thanks @qiagu

IMO none of these are needed for submitting a manuscript. We should all try using the tools a bit and see if there are any huge issues that need to be addressed before submission.

After we finish with the Penn datasets, I would still like to do the DepMap analysis if possible. I will start and share a manuscript draft soon.

[2018-08-10 17:56] qiagu commented on #756
@jgoecks The test are almost done. I haven't found any huge issue, except conflicting/wrong search parameters combination, n_jobs crash, scoring support and other small things, all of which, I'd argue, are not big faults of ours tools.

[2018-08-12 21:50] yvanlebras commented on #756
Hi everyone, Just a comment to see updates and give feedback for ecology related use cases following Björn discussions. For sure my comments will not be relevant but in case of.... Testing for the first time the [glm tool](https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/bgruening/sklearn_generalized_linear/sklearn_generalized_linear/0.9), I was searching a way to apply / test my own

[2018-08-14 22:17] bgruening commented on #770
@jennaj I fixed the tool and pushed an update. Its now working on usegalaxy.eu as far as I can tell.

[2018-08-19 06:34] jennaj commented on #770
I'll test .org on Monday and request a tool update if a pass. Thanks!

cc @davebx

[2018-08-20 19:36] dpryan79 commented on #620
Looks like this was closed by https://github.com/bgruening/galaxytools/commit/3ae8a2ded704ab0b25d4bba37bb295c301861aa3#diff-2ceb5fe80c71eb7c9aa6cd1a9ca8c052

[2018-08-20 19:36] #620 closed

[2018-09-12 08:42] yvanlebras opened #794 "Replace text in specific column"
I encounter issue with the [Replace text in specific column](https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/text_processing/replace_text_in_column.xml) Galaxy tools from [text_processing](https://toolshed.g2.bx.psu.edu/repository?repository_id=2593fd36ae8011aa) main toolshed repo. You can see the problem on this [usegalaxy.eu history](https://usegalaxy.eu/u/ylebras/h/te

[2018-09-12 11:40] bgruening commented on #794
Where are those square symbols? I can not see them :(

[2018-09-12 12:49] yvanlebras commented on #794
Hmmmm...
Ouch, on the previsualization, we can't see it.... Sorry ! Here, we see that in column 2, I have `-` instead of normally having `-2003` after applying the regex.

So maybe if you import the related [usegalaxy.eu history](https://usegalaxy.eu/u/ylebras/h/test-replace-text-tool) ? I will upload a screenshot to show the user side.

[2018-09-16 18:10] bgruening commented on #794
Can you please look at your history, latest dataset ... is that what you wanted to have?

[2018-09-16 18:59] yvanlebras commented on #794
Yep! Exactly! Something like `-2003`

[2018-09-16 19:01] yvanlebras commented on #794
Yep! Exactly! Something like `-2003`

[2018-09-16 19:02] yvanlebras commented on #794
Don't undestand why my regex is not working and generate this square...

[2018-09-16 19:40] bgruening commented on #794
Its awk syntax not a pure regex, isn't it? See the text below the inputs.

[2018-09-16 19:49] yvanlebras commented on #794
hmmm. I tried with my "find pattern" but -& for "replace it" and it works.... better than yours (sorry ;) ) as I can see your syntax have generated a `-"year"` in the header....

[2018-09-16 19:54] bgruening commented on #794
;) so it works and we can close this?

[2018-10-03 17:32] nsoranzo opened #804 "diamond tool should not depend on its data manager"
and the data manager should use Conda instead of old Galaxy tool dependency.

See tools/diamond/repository_dependencies.xml and data_managers/data_manager_diamond_database_builder/tool_dependencies.xml

[2018-10-27 00:53] jennaj commented on #770
Apologies for the delay on this -- it dropped off my to-do list. The tool does need an update at ORG, request ticket now exists here: https://github.com/galaxyproject/usegalaxy-playbook/issues/172

Not sure if you noticed, but both versions are still in the tool panel at EU. Might be on purpose, but just in case not, seemed worth mentioning so you can remove/hide version 0.1 (if want to!).

[2018-10-27 08:35] bgruening commented on #770
Thanks Jen for the pointer, I have hidden the tool.

[2018-10-27 08:35] #770 closed

[2019-03-07 19:49] subinamehta opened #848 "Filter with SortMeRNA doesn't work when reads are paired"
Hello!

The tool throws this error when we select paired end reads. It runs fine when reads are not paired!

**History:**
https://proteomics.usegalaxy.eu:/u/smehta/h/imported-asaim-t4c

**Error:**
Fatal error: ERROR
[E::sam_parse1] SEQ and QUAL are of different length
[W::sam_read1] Parse error at line 1231338
[main_samview] truncated file.

[2019-04-04 14:49] hepcat72 opened #852 "Cut tool not working in new workflows"
We've got the latest version of your cut tool (1.1.0) and when I include it in a workflow, it fails with the error:

`Parameter list requires a value, but has no legal values defined.`

despite all required values being filled in.

I have not tried old workflows with this tool incorporated, so I can only attest to new workflows with the tool.  Here are some relevant screenshots:

The tool in the w

[2019-04-04 15:11] mvdbeek commented on #852
This is more of a Galaxy issue it seems, can you transfer that issue there ?

[2019-04-04 15:16] hepcat72 commented on #852
Copied to galaxy's github page.

[2019-04-04 15:16] #852 closed

[2019-04-17 14:36] simonbray opened #855 "reading multiple filetypes with RDKit"
Write a small function which, depending on a file extension, applies the correct RDKit function to convert the file into an RDKit Mol object. Ideally, this function should be accessible for all tools that depend on RDKit (this is the tricky part).

[2019-05-16 15:07] pcm32 commented on #387
Is this still active or can be used? Thanks!

[2019-05-17 06:17] ThomasWollmann commented on #387
Still an active topic but no progress.

[2019-05-17 06:54] bgruening commented on #387
@ThomasWollmann we have recently discussed this here as well and with our compute center. I think after GCC we will tackle this. Maybe we can discuss during GCC?

[2019-05-17 07:03] joshmoore commented on #387
cc: @jkh1 in case this of interest.

[2019-05-17 07:11] jkh1 commented on #387
Thanks for the heads up. This is possibly also relevant for EOSC-Life WP1.

[2019-05-21 07:52] ThomasWollmann commented on #387
@jkh1 are you also interested in XNAT integration?

[2019-05-21 08:49] jkh1 commented on #387
@ThomasWollmann Eventually but currently not high priority.

[2019-06-11 10:14] mmiladi opened #867 "Nanopolish outdated"
Nanopolish is outdated and also missing one new sub-tool at least (`nanopolish polya`).

[2019-06-20 16:28] #867 closed

[2019-08-17 11:58] bernt-matthias opened #886 "split_file_to_collection for txt files"
Would be nice to have an option to split txt files. Then the workflow outlined here

https://github.com/galaxyproject/galaxy/pull/8336#issuecomment-522222395

would work. Currently it does not without a manual change of the data type of `extract element identifiers` (of collection) which outputs txt .. but  split_file_to_collection requires tabular.

[2019-08-27 19:16] bernt-matthias commented on #886
ping https://github.com/DarianHole

[2019-08-27 20:30] bernt-matthias commented on #886
Just wanted to let you know that I'm working on the necessary fix for https://github.com/galaxyproject/galaxy/pull/8336#issuecomment-522222395

[2019-08-28 14:24] #886 closed

[2019-08-29 14:00] bernt-matthias opened #894 "split files to collection by delimiter content"
Just an idea as follow up to https://github.com/bgruening/galaxytools/pull/892

One might extend the generic filter to split by the content of the line matching the record delimiter. Similar to splitting tabular data by column.

Or an additional regexp matching anywhere in the block.

I guess this could replace all cases

- Tab by colum `^([^t]*\t){col-1}(<id>[^t]*)` where col is the column of int

[2019-08-29 14:00] bernt-matthias commented on #894
One could even use this as FASTQ demultiplexer :)

[2019-09-11 19:58] jennaj commented on #289
This came up later and had some discussion. Think is worth figuring out what we plan to do. This is really confusing for users (two versions of "Cut" and the core functionality is not the same).

https://github.com/galaxyproject/tools-iuc/issues/2458

[2019-10-17 10:03] pinin4fjords opened #921 "Alevin wrapper fails with built-in indices"
Running Alevin with the wrapper (0.14.1.2, Galaxy version 19.05) using defaults and a built-in index produces the error:

[code]
The conditional in the command section seems to be failing:

[code]

i.e. even though "${refTranscriptSource.TranscriptSource}" from the macro IS (or should be) equal to 'indexed', it's still looking for the s_index.kmer value, implying it's trying to re-index. My Galaxy

[2019-10-17 20:19] astrovsky01 commented on #921
Hi @pinin4fjords! Are you running alevin on .eu, or on a local instance? When I test both locally or on usegalaxy.eu, I don't get the error.

[2019-10-17 20:42] #921 closed

[2019-10-17 20:55] pcm32 commented on #921
We are testing in on a local instance, installing Alevin from the toolshed. Did you try using an built index instead of the option where the index is built?

When do you think that we can see the newest version of the wrapper pushed to the toolshed with the fix in #923? Thanks!

[2019-10-17 21:01] astrovsky01 commented on #921
@pcm32 as far as I am aware, you should be able to pull it by tomorrow morning.

[2019-10-17 21:23] pcm32 commented on #921
Thanks, it took only a few minutes to be in the toolshed, so great! I have installed it now, someone will try it tomorrow in our instance.

[2019-10-18 20:01] hepcat72 opened #926 "Setting non-default memory for paralyzer causes apparent tool failure"
If you up the galaxy memory for the PARalyzer tool wrapper, the results datasets are all red even though there's no error.  I believe this is because STDERR gets a message:

[code]

and likely stringent error detection was enabled.

If you run it without any custom memory settings, nothing gets printed on STDERR and the results datasets are green.

[2019-10-20 22:30] bgruening commented on #926
@hepcat72 please have a look at: https://github.com/bgruening/galaxytools/issues/926

[2019-10-20 22:45] #926 closed

[2019-11-04 09:16] tischi opened #931 "ImageJ in Galaxy"
Hi @gregvonkuster & @bgruening,

We are interested in running IJ2 code in Galaxy.
Our idea was to write code that auto-generates the galaxy xml files for Imagej2 `Command`s, which is the new way of writing ImageJ plugins. See for example here:
- https://github.com/tischi/fiji-plugin-morphometry/blob/master/src/main/java/de/embl/cba/morphometry/commands/MicrogliaMorphometryCommand.java#L26

But we

[2019-11-04 18:16] gregvonkuster commented on #931
@tischi, it's great to see others interested in wrapping imagej2 tools for Galaxy!

The current Galaxy tools were written almost 5 years ago, but they are still maintained.  We recently updated the tools to use the latest imagej2 lifeline version, and the tools are installed on the Galaxy / Europe instance.

However, the tool wrappers have not been altered much since they were initially written, s

[2019-11-05 07:03] tischi commented on #931
@gregvonkuster, thank you for the fast reply :-)

The new way of writing "plugins" for ImageJ2 is called `Command` and has a syntax like below:

[code]

One good thing is that can automatically determine all input and output parameters of a `Command` using Java code and thus automatically generate the corresponding Galaxy `.xml` file using code like this (WIP):
https://github.com/tischi/fiji-galax

[2019-11-05 12:41] gregvonkuster commented on #931
This sounds great!  The current tools also invoke commands headless from the command line - https://github.com/bgruening/galaxytools/blob/master/tools/image_processing/imagej2/imagej2_base_utils.py#L35.  It's fantastic that you have been able to eliminate all Jython calls as this will greatly simplify Fiji tools for Galaxy.

When we recently updated the Fiji requirement here https://github.com/bio

[2020-01-24 20:40] yvanlebras opened #948 "Images batch data generator for keras batch models tool available ?"
Is there a way to use keras_batch_models tool https://github.com/bgruening/galaxytools/blob/master/tools/sklearn/keras_batch_models.xml on image ? In the ml usegalaxy.eu instance, there is a sentence saying, about this tool, "Build Deep learning Batch Training Models with online data generator for Genomic/Protein sequences and images" but I don't think we can apply it to images as there is no "Ima

[2020-01-24 20:46] bgruening commented on #948
Jupp, this is only available in a PR for now ... how urgent is it?

[2020-01-25 07:27] yvanlebras commented on #948
Thank you for your rapid answer. This is not urgent. Just I want to test it on pictures (thousands by algae species) I centralized on eu to test it when possible to use it as a showcase if relevant. If this is on a PR, this is alreday cool ;)

[2020-01-25 08:13] qiagu commented on #948
https://github.com/bgruening/galaxytools/blob/master/tools/sklearn/keras_batch_models.xml#L41
By choosing this option, the batch model tool can output a batch model to be used in the image deep learning tool.
Trying the image deep learning tool is very welcome. I have no time to do any production level test yet.

[2020-01-25 09:01] yvanlebras commented on #948
Thank you @qiagu . Exactly what I was supposing. So I can use this strangely named option ;) to test it. Cool! Will go back to you when tests start. Have a nice week-end you two

[2020-04-09 03:32] vmevada102 opened #973 "data type not found and problem in running rdock"
I have Galaxy 19.01 for more than 1 year.

As an importance of the rdock tool in our galaxy, I have installed ChemicalToolBox. Unfortunately. as I am trying to run the cavity finding using rDock cavity definition tool. I am receiving two errors.

1. rdock_As datatype available
2. The rDock program is licensed under GNU-LGPLv3.0. http://rdock.sourceforge.net/
Executable:	rbcavity ($Id: //depot/dev/

[2020-04-09 06:33] bgruening commented on #973
@vmevada102 welcome!

For 1) simply add https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/config/sample/datatypes_conf.xml.sample#L578 into your datatypes_conf.xml file.

The 2) does not seems to be an error, this is the normal output afaik. 1) should also just be a warning. So I'm wonder what is the real error here? Can you please test your settings under https://usegalaxy.eu and see if

[2020-04-10 14:23] vmevada102 commented on #973
Resolved both the error mentioned.

Thank you @bgruening

[2020-04-10 14:34] bgruening commented on #973
@vmevada102 is this now working? Can we close this issue?

[2020-04-10 14:39] vmevada102 commented on #973
One more issue i am facing.
We have 19.01 version of the Galaxy.

When I am trying to import and run the workflow made by you, the following error found.

Step 5: toolshed.g2.bx.psu.edu/repos/bgruening/text_processing/tp_cat/0.1.0
The tool is not installed

this tool might 1.0.0 version and the workflow has 0.1.0 version. Kidly help me to resolve the issue.

[2020-04-10 14:47] bgruening commented on #973
@vmevada102 you need to install this tool as well: https://toolshed.g2.bx.psu.edu/view/bgruening/text_processing

[2020-04-10 15:01] vmevada102 commented on #973
Thank you for your reply,

Unfortunately, i am not able to find via Admin>Install New Tool option> search/browse.
So, a little bit confused to get it working.

Anyways, you can close this post, as a resolution of the title of this post.

[2020-04-10 15:07] #973 closed

[2020-04-10 15:07] vmevada102 commented on #973
THank you @bgruening

[2020-04-10 15:11] bgruening commented on #973
Let me know if I can help you in any way.

[2020-04-14 07:37] vmevada102 opened #981 "Probelm in recognition of rDock 0.1.3 in workflow"
I am trying to import the Workflow "XChem combined" available online.

In our Galaxy 19.04, the tool rdock_rbdock 0.1.3 is already installed still one error displayed for missing the dependency in installed Galaxy.

Step 5: XChem Docking
toolshed.g2.bx.psu.edu/repos/bgruening/rdock_rbdock/rdock_rbdock/0.1.3 is not installed

Kindly help me to resolve this issue.

[2020-04-14 07:42] bgruening commented on #981
So the conda environment did not get installed properly? Can you simply remove the tool and install it again?

[2020-04-14 08:28] vmevada102 commented on #981
Uninstallation and reinstall of all the dependency of rDock Not working.

rDock is working fine. I have tested the rDock tool separately.

[2020-04-14 08:34] bgruening commented on #981
So if rdock is working, what does not work?

[2020-04-14 08:43] vmevada102 commented on #981
![Capture](https://user-images.githubusercontent.com/37470202/79204330-04265980-7e5a-11ea-9408-9896b0fa5312.PNG)

That's why workflow not working.

[2020-04-14 09:09] bgruening commented on #981
@vmevada102 can you please check if you really have installed this verison 0.1.3 and from the ToolShed not the TestToolShed?

[2020-04-14 09:17] vmevada102 commented on #981
![Capture2](https://user-images.githubusercontent.com/37470202/79207765-c1b34b80-7e5e-11ea-8a44-564519809e69.PNG)
This is the information, i can find from Admin>Managa Tools

[2020-04-14 09:22] bgruening commented on #981
That looks all good, have you restarted your Galaxy after installation?

[2020-04-14 09:26] vmevada102 commented on #981
Yes, I already restarted after reinstallation.

[2020-04-14 09:35] bgruening commented on #981
Which version of rdock is shown if you start the tool in the normal analysis view?

[2020-04-14 09:47] vmevada102 commented on #981
![Capture3](https://user-images.githubusercontent.com/37470202/79210828-09d46d00-7e63-11ea-816e-cdeea957bbd9.PNG)
It is the same as required.

[2020-04-14 09:57] bgruening commented on #981
Can you try to import this workflow on
 usegalaxy.EU?
 Do you see the same error?

[2020-04-14 10:05] vmevada102 commented on #981
No, It working on usegalaxy.eu

I am trying to resolve it. when I found a resolution, update information on this post.

[2020-05-04 08:38] abretaud opened #994 "iprscan5 not up to date on MTS"
¡Hola!
I just realised the [interproscan5 repo on MTS](https://toolshed.g2.bx.psu.edu/repository?repository_id=3e00b72eb27a2633) is not up to date with the xml in https://github.com/bgruening/galaxytools/tree/master/tools/iprscan5, probably because the tool is in the .tt_skip list
Would it be possible to update it (manually maybe?)?
(By the way, there are [three requirements defined](https://githu

[2020-05-04 20:08] bgruening commented on #994
@abretaud as you prefer. I can remove this if you like. There was work on bioconda to get it in. Not sure how far this has been.

[2020-06-04 09:06] #855 closed

[2020-06-05 16:30] herbercr opened #1005 "Issue with main galaxy tool- tRNA_prediction"
There is an error occurring when I run tRNAscan 4.0. It seems to do with the biopython dependency. The python script runs outside of galaxy so I am unsure of what the issue is.

Problem:

Tools errors in python script. All dependencies are installed, specifically biopython in which the error occurs with no module found.

Error:
`Traceback (most recent call last):
  File "/mnt/c/galaxy/database/she

[2020-06-18 09:35] foellmelanie opened #1008 "sklearn_train_test_split generates no split output"
Hi,

I am using the sklearn_train_test_split tool on the EU server and if I am not mistaken it should generate a split output in addition to training and test output. In the wrapper there is only out_train and out_test but no out_split.

Thanks,
Melanie

[2020-06-23 15:18] lecorguille opened #1009 "split_file_to_collection issue"
Our instance was stuck with this log
[code]
We had to restart the server
And eventually, got this:
[code]
I tried to list the containt of the working directory
[code]

According to @mvdbeek

[2020-06-27 19:11] bernt-matthias commented on #1009
Maybe like so: https://github.com/bgruening/galaxytools/pull/1012

[2020-06-30 18:57] bernt-matthias commented on #1009
@lecorguille can you test the new tool version? then we can close this issue.

[2020-07-05 10:04] foellmelanie commented on #1008
Apparently all was right, just the help section of the tool was not very clear for me. I tried to explain better how nth_split works and updated the tool help section: https://github.com/bgruening/galaxytools/pull/1014

[2020-07-05 10:04] #1008 closed

[2020-07-09 10:13] nomadscientist opened #1016 "Updates to salmon"
Could you please update the Salmon package version to 0.14.2?

[2020-07-09 13:40] bgruening commented on #1016
Would https://github.com/bgruening/galaxytools/pull/1001 work? But this is version 1.3.

[2020-07-09 13:48] lecorguille commented on #1009
Let's close this issue.
I will reopen if needed. Thanks a bunch!

[2020-07-09 13:48] #1009 closed

[2020-07-13 15:37] nomadscientist commented on #1016
Hey, if it works, it works! Yes, give that a go and I'll see if my error
goes away!

On Thu, Jul 9, 2020 at 2:40 PM Björn Grüning <notifications@github.com>
wrote:

[2020-07-13 20:47] bgruening commented on #1016
@nomadscientist please try :)

[2020-07-14 11:35] nomadscientist commented on #1016
Hello - I can't see another version in the HCA galaxy instance to try... I
think i may be misunderstanding something here...

On Mon, Jul 13, 2020 at 9:47 PM Björn Grüning <notifications@github.com>
wrote:

[2020-09-02 04:30] jennaj commented on #1005
Not sure if resolved -- both may be orphan tickets we can closeout.

@herbercr please see the other issue ticket, it has more details about how we can troubleshoot if still a problem.

[2020-09-14 20:49] VandaLovejoy opened #1029 "Alignment length too long RNALalifold MSA"
Hello,
I'm getting this error when running RNALalifold with multiple sequence alignments:
11 sequences; length of alignment 231229.                                                                                                                                   >alignment_0005
ERROR: backtracking failed in f3, segment
Sounds like the length of the alignment is too big and the program cannot comple

[2020-09-21 13:42] #1029 closed

[2020-10-01 18:44] lparsons opened #1033 "bismark sort bam by position is broken"
When attempting to sort a bam file in the bismark bowtie2 tool, (the `sort_bam` option), the following error occurs:
[code]

[2020-10-09 10:22] phpeters opened #1039 "header not properly propagated to R-script"
https://github.com/bgruening/galaxytools/blob/78f2261af4e00c830ea311337d0aed9b297aad8e/tools/chipseeker/chipseeker.xml#L25

Hej,
Thanks for building all these tools! In case this tool is still maintained, there is a small bug: the header-variable is not properly propagated to the R-script.
Either use in the xml:
        #if $header
            -H $header
        #end if
or in the R-file:
if (args$

[2020-11-05 13:25] lavrovSA opened #1045 "Salmon rename in workflows"
In the workflows, the "Rename dataset" post-action step produces empty in place of #{input_singles}. No problems were in version "0.11.2".

Regards,
Sergey

[2020-11-05 22:30] lavrovSA commented on #1045
The problem starts from 0.14.1.2 and up

[2020-11-05 23:03] bgruening commented on #1045
@lavrovSA the layout of the tool has changed a lot over time since new features have been added to Salmon. You need to adapt your post-actions in new version of Slamon.

[2020-11-05 23:46] lavrovSA commented on #1045
Sorry, could you point me to the place where this adaptation should be done? I'm using Galaxy Docker 20.05, there is a workflow including Salmon. The Salmon was installed from https://toolshed.g2.bx.psu.edu (I've tried revisions from 14 to 11).
In Salmon tool configuration in workflow editor, the suggested input name for reads file is "input_singles". So, I've just putted #{input_singles}_GL in th

[2020-11-08 11:18] bgruening opened #1046 "signing models generated with Galaxy"
* using hmac for example https://docs.python.org/3/library/hmac.html#module-hmac

[2020-11-24 21:45] qiagu commented on #1046
Cool. That sounds workable.
BTW, I would like to describe what future Galaxy ML models look like in my mind.
Models are saved in HDF5, including model structure and weights. A new datatype, as a subclass of HDF5,  can be made specific for models. The datatype may carry a metadata file, similar to Bam, which permanently stores a JSON format of the model structure. Consequently, models can be previe

[2020-11-25 21:30] jgoecks commented on #1046
Agree this seems like the right approach for working with pickled files that we can't otherwise trust @bgruening, and it's also mentioned in the Python docs as well so likely best practices as well: https://docs.python.org/3/library/pickle.html FYI, looks like scikit-learn has a more efficient dumps/loads than pickle these days called `joblib`: https://scikit-learn.org/stable/modules/model_persist

[2020-11-25 21:50] qiagu commented on #1046
@jgoecks We already have had something made there. https://github.com/goeckslab/Galaxy-ML/tree/master/galaxy_ml/model_persist
[code]
https://github.com/goeckslab/Galaxy-ML/blob/master/galaxy_ml/tests/test_model_persist.py#L94-L101

[2020-11-25 23:01] jgoecks commented on #1046
Ah, good to know. How far along is this work?

[2020-11-26 02:20] qiagu commented on #1046
The util was made earlier this year. I recall it worked for all sklearn models (pipelines) in a test. It failed to catch one numpy type from xgboost module though, but that can be fixed. Since the util decomposes and recomposes objects using the same interface as  pickle, it has my trust.

[2021-01-15 12:26] #136 closed

[2021-01-27 18:25] simonbray opened #1057 "Readd testing with condor"
Testing was previously done with a condor job runner, but this started causing all tests to fail with the following error:
[code]
which indicates some error with htcondor installation.

I couldn't work out the cause of the error, so I removed the condor job config file from the planemo test command for now in this commit: https://github.com/bgruening/galaxytools/pull/1056/commits/c678f9b706df0b235

[2021-02-03 10:39] martenson opened #1061 "possible bug in diff html reports"
Running [diff](https://github.com/bgruening/galaxytools/blob/master/tools/diff/diff.xml) on two files with the same content with requested html report produces the following output in the stderr.

[code]

The tool does not fail. Report is empty. Maybe the report could say such.

[2021-02-03 10:48] bgruening commented on #1061
@davelopez :)

[2021-02-03 10:52] davelopez commented on #1061
I'll look into it! Thanks @martenson! :)

[2021-02-03 20:38] #1061 closed

[2021-03-04 12:45] gallardoalba opened #1072 "User request: salmon auxiliary files"
A user asked in Ghelp about the possibility of obtaining the auxiliary mapping statistics file generated by Salmon.

 - Ghelp entry: [Salmon Auxiliary files - mapping stats](https://help.galaxyproject.org/t/salmon-auxiliary-files-mapping-stats/5458)

In addition, he/she is interested in analyzing the outputs by using Multiqc, which requires the rest of the auxiliary files.

- MultiQC module to par

[2021-03-15 12:57] simonbray opened #1089 "Ensure all tools are passing basic Python and R linting and have @TOOL_VERSION@ specified"
This would be handy for the autoupdating.

[2021-03-18 19:26] kxk302 opened #1093 "Add one hot encoding (OHE) utility to ML workbench"
When doing multi-class classification, the labels file need to be presented in one-hot encoding to a neural network, so categorical cross entropy can be calculated during training. Currently, no ML workbench tool can convert the format to OHE.

keras.utility.to_categorial offers this functionality. Need to wrap it so the tool is available to Galaxy.

[2021-04-06 15:54] jennaj opened #1099 "Enhancement: Have the tool "Split file to collection" inherit the input datatype"
Tool: https://toolshed.g2.bx.psu.edu/view/bgruening/split_file_to_collection/6cbe2f30c2d7

Option: https://github.com/bgruening/galaxytools/blob/dee6a6f4aa8cbee9f81692fc6f3a2e4ad1f3abf6/tools/text_processing/split_file_to_collection/split_file_to_collection.xml#L206

Use case example: The input is fastqsanger.gz. The user wants to break the data up so it will process without hitting memory or runt

[2021-04-06 16:10] bernt-matthias commented on #1099
Thanks for checking @jennaj. This should be easy, unfortunately this does not work yet in Galaxy: https://github.com/galaxyproject/galaxy/pull/11754

[2021-04-07 17:20] martenson opened #1101 "where can I find openduck requirements?"
It defines `openforcefield ` requirement here: https://github.com/bgruening/galaxytools/blob/master/chemicaltoolbox/openduck/macros.xml#L8 but anaconda has no version of  openforcefield in channels Galaxy uses (https://anaconda.org/search?q=openforcefield)

How to resolve this?

[2021-04-07 21:13] bgruening commented on #1101
@martenson I don't think this tool is usable. I think we dropped the ball at some point. @simonbray might correct me.

[2021-04-08 08:46] simonbray commented on #1101
We did not drop the ball, I deliberately chose to focus on other projects.

Regarding the conda issue, we were using nonstandard channels. It seems that that package since got migrated to conda-forge under the name `openff-toolkit`.

Are you really interested in using this @martenson?

[2021-04-08 08:51] martenson commented on #1101
Thanks for the responses @simonbray @bgruening. We are migrating an instance and Iw as not able to recreate this tool's conda environment, so I was curious how to do that. I think we got this as a part of the chemtoolbox and are using tools other than this from the suite. Please do not spend energy on this because of us.

[2021-04-08 08:51] #1101 closed

[2021-04-13 11:55] kxk302 opened #1102 "Fix failing lightgbm test"
To reproduce the problem, run the following command:

planemo test --docker ./tools/sklearn/lightgbm.xml

Standard error:

[code]

I ran the test in the PDB debugger inside the container (Per @bgruening's suggestion, had to add a long sleep statement to keep the container alive, then copied the necessary files over to run the same test again with sleep statement removed). However, the failure seem

[2021-04-13 12:00] kxk302 opened #1103 "Fix get_scoring method"
Currently, get_scoring() in galaxy_ml/utils.py assumes 'secondary_scoring' is a comma separated string. It seems galaxy now provides a list instead. Must revise get_scoring() so it can handle a list and a string (for backward compatibility). Right now, the fix (list to comma separated string conversion) happens in galaxytools. After get_scoring is revised (https://github.com/goeckslab/Galaxy-ML/is

[2021-04-21 18:58] gmauro opened #1111 "uniprot_rest_interface doesn't fail if the service is unavailable."
The `uniprot_rest_interface` tool doesn't fail if the service is unavailable.
It collected the html reply from the server about the service outage and then turned green.

The reply message from the server was:
[code]

[2021-04-22 17:22] #1111 closed

[2021-04-24 11:59] ZeroDesigner opened #1112 "question about my first galaxy tool"
hi, I am a new one to galaxy.
And I want to write a new tool.
My scrip is here and it's for ledock.
And when it runs, errors are here:
[code]

So my question is : how can I fix the problem.
And I also want to know , when I upload my file to galaxy , where  my file is (the path) .

[code]

[2021-04-26 10:52] simonbray commented on #1112
I'm not sure I fully understand the question, but it seems there is some error in the XML wrapper.

All the best,

Simon

[2021-04-26 11:25] bgruening commented on #1112
@ZeroDesigner please have a look at https://planemo.readthedocs.io/en/latest/standards/docs/best_practices.html this will get you started in Galaxy tool development. Please try `planemo` it will for example lint your XML file and point you to the errors.

[2021-04-27 00:25] cat-bro opened #1113 "Galaxy is not recognizing sklearn input 'zip' files"
sklearn_searchcv and a number of other sklearn tools have input test files that are imported as type 'zip'.  Galaxy is throwing an error trying to import these:

For file https://github.com/bgruening/galaxytools/blob/master/tools/sklearn/test-data/pipeline01
[code]

I'm seeing this error when trying to import it as a zip on Galaxy Australia and Galaxy Europe.  These tests passed when we first inst

[2021-04-27 01:28] ZeroDesigner commented on #1112
XML file is here.
[code]

[2021-04-27 06:37] simonbray commented on #1112
Hi @ZeroDesigner,

check the command - a `'` is missing before `$RMSD`.

Can you spend some time looking at this tutorial please? https://planemo.readthedocs.io/en/latest/writing_standalone.html

Also, can I ask how you plan to deploy this tool? It seems Ledock is proprietary software and you will have problems deploying it on a public-facing server.

[2021-04-27 07:29] ZeroDesigner commented on #1112
Thank You，I will read the tutorial carefully.
I will deploy it on local computer without facing the public. And if necessary, I will contact the lephar  to see whether we can deloy it on a public server.

[2021-05-13 13:36] kxk302 opened #1115 "Failure running my ML workflows"
I have 3 workflows that use Galaxy's ML tools (namely Keras for neural networks). They all worked fine last time I ran them (maybe a month ago?).

These 3 workflows are used in 3 neural network tutorials that I am presenting at GCC 2021. I decided to re-run them to make sure all is good. All 3 workflows fail now. Here is the error message for the first 2 workflows:

[code]

Here are the histories:

[2021-05-13 13:42] kxk302 commented on #1115
@anuprulez I just ran my third workflow (CNN workflow) on galaxy.eu and it failed. Could you please check the log to see what error message we get? Thanks.

[2021-05-13 13:43] kxk302 commented on #1115
I only see "Failed to communicate with remote job server."

[2021-05-13 13:49] anuprulez commented on #1115
@kxk302 in the first and third histories, I don't have permission to see those datasets. Can you unlock those?

[2021-05-13 13:57] kxk302 commented on #1115
Update: I re-ran the third history after the initial failure and it completed successfully.

@anuprulez how do I unlock the datasets? I don't see an option when trying to share history. If you want we can use Gitter to resolve this. Thx

[2021-05-13 13:58] anuprulez commented on #1115
I see some changes have been made to: https://github.com/goeckslab/Galaxy-ML/tree/master/galaxy_ml very recently

[2021-05-13 14:02] kxk302 commented on #1115
Yes, there was a bug fix in Galaxy-ML that was pushed recently.

[2021-05-13 14:03] kxk302 commented on #1115
Here are the links to all workflows and datasets for histories:

First history:

https://training.galaxyproject.org/training-material/topics/statistics/tutorials/FNN/workflows/
https://zenodo.org/record/4660497/files/X_test.tsv
https://zenodo.org/record/4660497/files/X_train.tsv
https://zenodo.org/record/4660497/files/y_test.tsv
https://zenodo.org/record/4660497/files/y_train.tsv

[2021-05-13 14:04] kxk302 commented on #1115
Second history:

https://training.galaxyproject.org/training-material/topics/statistics/tutorials/RNN/workflows/
https://zenodo.org/record/4477881/files/X_test.tsv
https://zenodo.org/record/4477881/files/X_train.tsv
https://zenodo.org/record/4477881/files/y_test.tsv
https://zenodo.org/record/4477881/files/y_train.tsv

[2021-05-13 14:04] kxk302 commented on #1115
Third history:

https://training.galaxyproject.org/training-material/topics/statistics/tutorials/CNN/workflows/
https://zenodo.org/record/4697906/files/X_train.tsv
https://zenodo.org/record/4697906/files/y_train.tsv
https://zenodo.org/record/4697906/files/X_test.tsv
https://zenodo.org/record/4697906/files/y_test.tsv

[2021-05-13 14:05] kxk302 commented on #1115
You need to re-name the uploaded files and change their type to tabular, before running the workflows. Thx.

[2021-05-13 14:43] anuprulez commented on #1115
I get these errors while running this workflow

![galaxy_error](https://user-images.githubusercontent.com/3022518/118142050-4da0f980-b40a-11eb-8a40-5f266d54b264.png)

![rnn_error_1](https://user-images.githubusercontent.com/3022518/118142067-5265ad80-b40a-11eb-920b-1b4278fe5dda.png)

[2021-05-13 14:45] kxk302 commented on #1115
@anuprulez did you downgrade the tool versions in the RNN workflow?

[2021-05-13 15:04] anuprulez commented on #1115
No, I just ran it

On Thu, May 13, 2021, 8:15 PM kxk302 ***@***.***> wrote:

[2021-05-13 15:05] kxk302 commented on #1115
If you downgrade the tool versions as I documented, it will work.

[2021-05-13 15:19] kxk302 commented on #1115
I guess the questions is why it stopped working with the new versions of those tools.

[2021-05-13 15:51] qiagu commented on #1115
Try to check various package versions in the conda environment, python version as well (make sure python 3.6). The conda includes a lot of members, prone to make errors when newer packages joins the team.

[2021-05-13 16:42] kxk302 commented on #1115
Thanks @qiagu,

Could you please provide more info on how to do that?

[2021-05-13 17:26] qiagu commented on #1115
Sorry, I just say a general debugging process, not specific to any issue mentioned in this thread. From the stderr report @anuprulez provided, I feel the errors could be cleared by re-cleaning the input TSVs.

[2021-05-13 17:40] qiagu commented on #1115
Try to ensure the classification targets are integers, not float.

[2021-05-13 17:58] kxk302 commented on #1115
I do. not see the errors that Anup sees. I guess the first step would be to get these workflows working with versions of the tools. Then we can use the new version to re-produce the problem. @anuprulez not sure what your internet connectivity is like, but we could possibly have a Zoom meeting to discuss tomorrow. I'm free from 8:00 am to 10:100 am EST time.

[2021-05-13 19:02] mvdbeek commented on #1115
That's a job running error, you'll want to check this with Nate, that is not a tool error.

[2021-05-13 20:09] kxk302 commented on #1115
This is run on EU. I remember vaguely Bjorn saying that some jobs are configured to run on GPU and this error would show up then, and the error would go away when job was run on CPU. Am I right @bgruening?

[2021-05-18 07:37] Slugger70 opened #1117 "Flye versions > 2.6 are listed in the toolshed as not installable."
The toolshed lists the error as `parameter 'asm': the attribute 'value' must be set for non optional parameters`

[2021-05-25 10:07] simonbray opened #1123 "Add dpocket tool"
@khanteymoori and I have a student who is using this, it seems to be a nice simple tool and would fit in well with the CTB and Galaxy-ML.

[2021-05-27 13:58] menegidio-lab opened #1124 "Installing timeout"
I need to install Mitos locally and I see the error below:

(1/9) Installing repository mitos from iuc to section "annotate-mito" at revision f86bcffa9549 (TRT: 0:00:07.556675)
Timeout during install of mitos, extending wait to 1h

This error is seen for Mitos and Mitos2, however, other tools install normally. The error is viewed by both the server https://toolshed.g2.bx.psu.edu and https://testto

[2021-05-27 19:25] bgruening commented on #1124
[code]

See here: https://github.com/usegalaxy-eu/usegalaxy-eu-tools/blob/master/imaging.yaml

But I assume its the R dependency. Which conda version are you using?

[2021-05-27 21:59] menegidio-lab commented on #1124
Galaxy 20.09
conda 4.10.1

[2021-05-29 20:01] bgruening commented on #1124
I assume it is this problem: https://github.com/bioconda/bioconda-recipes/issues/13774

@menegidio-lab two tipps. If Galaxy/nginx times out, this is usually not a problem as the conda installation will still be running and finishing eventually. You could also create the env by hand and pin r-base=4 to speed up the solving process by conda.

Alternatively, we could pin an R version in he upstream m

[2021-05-30 07:53] bernt-matthias commented on #1124
Lets try https://github.com/bioconda/bioconda-recipes/pull/28746 ..

[2021-05-31 10:13] bernt-matthias commented on #1124
Hmm. Even with `R>=3` and `R>=4` I get incompatibilities?

[2021-05-31 10:27] bernt-matthias commented on #1124
Do you have the chance to use docker / singularity?

[2021-07-19 05:40] #1117 closed

[2021-08-14 09:20] bgruening opened #1145 "fly improvement"
We should make a smarter UI that prevents this error.

[2021-08-18 18:31] hepcat72 opened #1146 "How to install the sortmerna databases using the data manager?"
I haven't done this before, so I apologize if this is a dumb question, but I tried running the data manager for sortmerna, but I get an error about missing `.loc` files in the galaxy log.  Are there instructions I can consult on how to do the installation?  I actually was able to run the data manager in my user account successfully.  I just don't know how to get it to run in galaxy successfully.

[2021-09-08 13:05] TT1972 opened #1156 "Additional files for Canu output"
Hi,
thank you very much for developing the Canu Galaxy Repository. I don't have an issue but a question: Right now the output only consist of the fasta files and the *.report file. Other files (i.e. *.tigInfo) do not appear in the Galaxy History. It would be great, if the user would be provided with the possibility to choose, which additional files (maybe combined in a single zip-file) should be p

[2021-09-10 08:11] #1123 closed

[2021-11-23 07:23] #1145 closed

[2022-01-19 13:11] eschen42 opened #1184 "fgrep (grep -F) option"
`fgrep` functionality (available with `grep -F`) allows searching for `m` multiple fixed strings among `n` sequences in O(n) time rather than O(n*m) [by leveraging the Aho-Corasick algorithm.](https://en.wikipedia.org/wiki/Grep#Implementations) For a concrete example, I have a `fasta_to_tabular` result (20,000 lines) that I want to search for many accession IDs (8,000); or, I might just as easily

[2022-01-24 19:11] bernt-matthias opened #1185 "Unused tool parameters"
With galaxyproject/galaxy#12724 planemo lint may error on input parameters that are not used:

- [ ] chemicaltoolbox/openbabel/ob_filter.xml
  - hbd_min
  - hbd_max
  - hba_min
  - hba_max
  - psa_min
  - psa_max
  - rotbonds_min
  - rotbonds_max
  - molwt_min
  - molwt_max
  - logp_min
  - logp_max
  - mr_min
  - mr_max
  - atoms_min
  - atoms_max
- [ ] tools/antismash/antismash.xml
  - pfam2go
-

[2022-01-31 08:22] hechth opened #1189 "Compound conversion: Add index to output"
The `compound conversion` tool which is part of the chemical toolbox doesn't handle indices etc. for the files which it processes and silently drops lines that are invalid - this makes working with larger files problematic, as the output format can no more be associated with the inputs.

Is there a way to add indices to the files to indicate which output belongs to which input or is the only optio

[2022-01-31 12:40] bgruening commented on #1189
@hechth you are talking about that tool? https://github.com/bgruening/galaxytools/blob/master/chemicaltoolbox/openbabel/ob_convert.xml

Which input format are you using?

[2022-01-31 13:08] hechth commented on #1189
@bgruening Indeed!

I'm using a normal list, so the `inchi` format how it is called.

Some example data is attached.
[inchi.zip](https://github.com/bgruening/galaxytools/files/7970845/inchi.zip)

[2022-01-31 13:22] bgruening commented on #1189
Can you try adding an additional column (https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/devteam/add_value/addValue/1.0.0) to the inchi file? Is that preserved by openbabel?

[2022-01-31 13:26] hechth commented on #1189
I tried using 2 columns separated with `,`, that didn't change anything on the specific history (https://umsa.cerit-sc.cz/u/hechth/h/compound-convert-test).

[2022-01-31 16:42] bgruening commented on #1189
try adding a new column with a tab using the tool from above

[2022-02-01 06:59] hechth commented on #1189
Nope - tried adding a column manually, using tabs, commas, the Galaxy tool, but always the same - no index in the output and invalid data gets dropped silently.

[2022-02-01 12:47] bgruening commented on #1184
Yes, I think so :)

Thanks and sorry for my late reply.

[2022-02-01 21:07] bgruening commented on #1189
Maybe @simonbray has an idea?
This tool is using simply openbabel, so if openbabl can not deal with this I think we are out of luck here.

[2022-02-02 08:56] simonbray commented on #1189
Can you use a different file format? I think inchi is in general not a good choice for the input.

With smiles or sdf you can specify the index in the molecule name/title.

[2022-02-02 13:25] hechth commented on #1189
I explicitly want the inchi, since I want to compute smiles from inchi.

[2022-02-03 08:39] simonbray commented on #1189
What I meant is that SMILES has a name/title/label which you can append a index to.

I think as @bgruening said we are limited by the underlying software. Maybe you can use a Galaxy workaround like this? https://usegalaxy.eu/u/sbray/h/inchi-index

[2022-02-03 10:49] hechth commented on #1189
In this scenario the join works as the inchi doesn't change - but if we actually change specific parts of it, they are no more identical, so the workaround doesn't function.

If I come up with a solution, should I just PR it here? Otherwise, I think I could solve our specific needs with a targeted tool.

Thank you very much for your support and for looking into this!

[2022-02-25 06:29] mthang opened #1196 "Missing PAF file format for the overlaps in the wrapper"
https://github.com/bgruening/galaxytools/blob/6817ef65c64c0800e21815822c38beba52075f75/tools/racon/racon.xml#L56

There is a missing file format for this Racon Wrapper. The input of the overlap requires PAF file format and written in the **Antibiotic resistance detection**  GTN under the [RACON section ](https://training.galaxyproject.org/training-material/topics/metagenomics/tutorials/plasmid-met

[2022-02-25 09:44] bgruening commented on #1196
Hi @mthang, I have fixed that now. Thanks for reporting.

[2022-03-01 02:34] mthang commented on #1196
hi @bgruening , thank you for the quick fix. Would it be possible to update this wrapper on the GA toolshed too. I am going to close this issue. Thank you for your time and effort. Cheers

[2022-03-01 07:05] bgruening commented on #1196
Is it not updated?

[2022-03-01 07:48] mthang commented on #1196
The latest revision of racon wrapper on the toolshed is 5:7c847ec300b8 and dated 5(2021-09-12). Then, I browsed the repository tips file on the toolshed from the Repository Action drop down menu. This line <param type="data" name="overlaps" format="sam,tabular" label="Overlaps"/> remains the same (aka without the PAF file added).

[2022-05-04 21:45] simonbray opened #1210 "License"
There doesn't seem to be a license specified, wouldn't that be nice to have? Someone on Gitter asked if the ML tools were open source.

[2022-05-05 06:19] bgruening commented on #1210
Yes, lets copy the one from IUC.

[2022-05-06 08:38] #1210 closed

[2022-05-17 01:21] mthang opened #1215 "Chemfp not found"

[2022-05-17 02:20] #1215 closed

[2022-07-09 11:48] pvanheus opened #1227 "add repeat elements to tp_find_and_replace"
[tp_find_and_replace](https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/text_processing/find_and_replace.xml) is sometimes used repeatedly in workflows like the [COVID-19: variant analysis reporting](https://github.com/galaxyproject/iwc/tree/main/workflows/sars-cov-2-variant-calling/sars-cov-2-variation-reporting). This is inefficient and could be made more efficient by th

[2022-07-09 11:58] bgruening commented on #1227
So you mean searching and replacing stuff in multiple files? But return on output?

[2022-07-28 13:34] pvanheus commented on #1227
What I mean is one input, but multiple replace operations. So e.g. input:

[code]

replace operation one: ABC -> abc
replace operation two: 99% -> 100%

then output the results:

[code]

[2022-08-08 15:40] anuprulez opened #1231 "Format of Search CV parameters"
As reported by one of our students, the tabular dataset returned by the search CV tool is populating the list differently as documented earlier in many ML tutorials. Do we know what needs to be changed in the tool parameter selection to make the search CV tool run? I remember we used to get a list of all hyperparameters and then we could select those whose values need to be optimized.

![search_cv

[2022-08-08 18:12] qiagu commented on #1231
@anuprulez  Thanks for exposing the issue. My intuition is that changes of Galaxy's tool infrastructure caused the issue. I will look deep into it soon.

[2022-08-08 21:13] qiagu commented on #1231
@anuprulez  Unfortunately, I couldn't reproduce the issue shown in the shared history. I have correct list of parameters in the dropdown in my local instance. One thing worth mentioning: use only the list in the `Search list`, having parameter name in the front, like `selectkbest__k: [5880, 5890, 5895, 5900]`, would lead to failure.

[2022-08-08 21:38] qiagu commented on #1231
As wrapped here https://github.com/bgruening/galaxytools/blob/master/tools/sklearn/search_model_validation.xml#L11-L17, lines starting with `@` should be selected to be search parameters, i.e., showing as the dropdown options. The EU instance seems to do the opposite, excluding lines having `@`. I have no idea what causes that, since I can't reproduce the issue elsewhere.

[2022-08-10 10:17] anuprulez commented on #1231
@qiagu thanks a lot for looking into it. I found a fix here: https://github.com/bgruening/galaxytools/pull/1232

[2022-08-10 11:35] anuprulez commented on #1231
Adding quotes to @ symbol did not work, unfortunately. But, removing it did and the tests are now passing. Removing it will add a few extra params in the list of estimator params of which the most we already show using @ as a startwith filter. It looks like there is some issue with parsing of this special symbol on EU server in the tool form, not 100% sure though.

[2022-08-11 07:30] anuprulez commented on #1231
Same issue on Galaxy Main as well. We should keep this issue open until it is fixed

![params_galaxy_main](https://user-images.githubusercontent.com/3022518/184084685-8ae3b227-eb92-4e17-871f-ef8c2be8e776.png)

![main_diff](https://user-images.githubusercontent.com/3022518/184084661-66f39fb9-61f5-443f-866b-1f41528b5c04.png)

[2022-08-12 05:44] qiagu commented on #1231
Ha, the `startswith` issue got fixed 29 days ago.
See: https://github.com/galaxyproject/galaxy/commit/d642ce34c8bdae5819c643648dfedc1efa665a6b

[2022-08-12 06:44] bgruening commented on #1231
Do you want to ask for a backport?

[2022-08-12 07:13] qiagu commented on #1231
I guess yes, since we don't want users to modify some vulnerable parameters, like n_jobs, memory, _path, and so on.

[2022-08-12 07:26] qiagu commented on #1231
My bad. I'd correct myself. The issue is caused by the commit 29 days ago. We may need to revert the change.
https://github.com/galaxyproject/galaxy/commit/d642ce34c8bdae5819c643648dfedc1efa665a6b#diff-7a49a06712755de974dbcb43a317151e9ceee2af1e58914e28f2f4c7de9bdf9aL648-R648

[2022-08-12 07:30] qiagu commented on #1231
https://github.com/galaxyproject/galaxy/commit/d642ce34c8bdae5819c643648dfedc1efa665a6b#diff-7609c5c4f82006f4dafa20d26bfce4b2c77680442044ff1fb0ce4e28cf7a2879R4016-R4019
This change is against our usage of `startswith`. :(

[2022-08-12 07:33] bgruening commented on #1231
I guess you need to open an issue then.

ping @bernt-matthias we well.

Thanks @qiagu for finding this.

[2022-08-12 09:47] bernt-matthias commented on #1231
As far as I see this repo is using 21.05 for testing PRs. So it should not be affected by https://github.com/galaxyproject/galaxy/pull/14332 which was for 22.01, or?

Anyway, https://github.com/galaxyproject/galaxy/pull/14332 brought the code in line with the docs. In the Galaxy tool xml docs you will find: `startswith: Ignore lines starting with the given string`. Unfortunately that was never wha

[2022-08-12 09:55] bernt-matthias commented on #1231
Will be fixed in https://github.com/galaxyproject/galaxy/pull/14440

[2022-09-20 03:42] mthang opened #1236 "Add more information to the help section."
Hi there,
There is a request from a user who wants to have a little more details on the help section. I am going to expand the help section a bit to include the description of the input and output file format.

https://github.com/bgruening/galaxytools/blob/4fa66bd81eee32fefeca17b7c7e326127f579546/tools/metilene/metilene.xml#L129

Thanks,

[2022-09-20 04:43] bgruening commented on #1236
Cool thanks

[2022-10-06 21:42] bernt-matthias commented on #1227
I guess with a repeat the processing would be still sequential within one job. Which is more efficient (but not necessarily faster) in the sense that the overhead of creating jobs is eliminated.

An alternative would be to use the definitions for the replacement from a file (one line corresponding to a replaceent). And then use `split file to collection` to parallelize this. In this way you can al

[2022-10-08 20:45] #1227 closed

[2022-11-11 23:54] gallardoalba opened #1260 "Salmon doesn't work correctly with paired-end reads"
When providing a collection of paired-end read as input, Salmon works in that way:

`salmon quant --index './index' --libType A --unmatedReads <(zcat < ./single.fastq) "`

However, it should work as follow:

`salmon quant -i transcripts_index -l <LIBTYPE> -1 reads1.fq -2 reads2.fq `

[2022-11-12 00:16] #1260 closed